item-tile {

  .f-div-item-tile {
    width: 120px;
  }

  .f-img-item-tile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    padding: 3px 4px 2px;
  }

  .f-item-tile-name {
    font-size: 12px;
  }

  .f-product-price-item-tile {
    color: rgba(184, 0, 18, 0.94);
    font-size: 1.4rem;
    font-weight: 400;
  }

}
