<div class="f-div-item-tile">
  <ion-grid class="f-no-padding" *ngIf="product">
    <ion-row *ngIf="displayCloseButton">
      <ion-col no-padding style="text-align: right">
          <ion-icon class="f-close-button-scale" name="ios-close-circle-outline" (click)="closeButtonClick(product)"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-auto (click)="openItemDetails(product)">
        <div *ngIf="product && product?.imageUrl" lazy-load-images>
          <img class="f-img-item-tile" src="assets/imgs/spiner-load.gif" [attr.data-src]="product?.imageUrl" onError="this.src='assets/imgs/nophoto.png';"> 
        </div>
        <img *ngIf="product && !product.imageUrl" class="f-img-item-tile" src="assets/imgs/nophoto.png">  
      </ion-col>
    </ion-row>

    <ion-row (click)="openItemDetails(product)" style="min-height: 50px; margin-bottom: 10px;">
      <ion-col class="f-item-col f-color-info f-item-tile-name">
        {{product?.name | truncate : 40 }}
      </ion-col>
    </ion-row>
        
    <ion-row *ngIf="(product.rating || product.recall>0) && displayRating==true" (click)="openItemDetails(product)">
      <ion-col nowrap class="f-item-col">
        <product-rating [product]=product></product-rating>
      </ion-col>
    </ion-row>
        
    <div style="position: absolute;bottom: 0;">
    <div class="f-padding-t-5" *ngIf="displayPrice==true" (click)="openItemDetails(product)">
      <ion-row *ngIf="product.oldPrice">
        <ion-col class="f-item-col f-old-price f-size-small" >
          <span>{{product.oldPrice | localeCurrency:userService.currency}}</span>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="product.price" >
        <ion-col class="f-item-col  f-product-price-item-tile">
          {{product.price | localeCurrency:userService.currency}}
        </ion-col>
      </ion-row>
    </div>
  </div>
  </ion-grid>
</div>
