<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-auto>
        <div>
          <img class="f-img-item" width="60" height="60" [src]="product?.imageUrl">
        </div>
      </ion-col>
      <ion-col no-padding>
        <ion-grid class="f-item-nopadding">
          <ion-row>
            <ion-col no-padding class="f-item-padding-bottom">
              {{product?.name | truncate : 40 }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col nowrap no-padding class="f-item-padding-bottom">
              <product-rating class="rating-large" [product]=product></product-rating>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>

  <div *ngFor="let quote of quotes">
    <ion-grid class="f-item-nopadding-tb">
      <ion-row>
        <ion-col class="f-item-nopadding f-item-padding-left">

          <ion-grid class="f-item-nopadding">
            <ion-row>
              <ion-col no-padding>
                <span class="f-size-large f-color-red">{{quote.price | localeCurrency:userService.currency}}</span>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="quote?.freeShipping">
              <ion-col no-padding>
                <b><span class="f-item-nopadding f-size-small">FREE shipping</span></b>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col no-padding>
                <span class="f-item-nopadding f-size-small">{{quote?.quotation?.supplier?.name}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col no-padding col-auto>
                <b>
                  <span class="f-item-nopadding f-size-small">{{quote?.quotation?.supplier?.positiveFeedbackPct}}% positive</span>
                </b>
                <span class="f-item-nopadding f-size-smaller">  ({{quote?.quotation?.supplier?.refsCount}} seller ratings)</span>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-col>
        <ion-col text-end col-auto>
          <button class="f-btn-add-cart" ion-button (click)="onAddToCart(quote, quote.price)">Add to Cart</button>
        </ion-col>
      </ion-row>

    </ion-grid>
    <hr>
  </div>
</ion-content>
