<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content>
  <div class="top60">
    <form [formGroup]='verifyForm'>
        <ion-item *ngIf='authError' class='alertDanger'>
            <span loc="Неверный номер или код" name="WrongLoginOrCode">{{locale['WrongLoginOrCode'] ? locale['WrongLoginOrCode'] : 'Неверный номер или код'}}</span>
         </ion-item>
    
      <div class="formContentWrapper">
        <div>
          <span loc="Телефон*" name="Phone" class="lblTxt">{{locale['Phone'] || 'Телефон*'}}</span>
        </div>
        <input type="text" [mask]="'380999999999'" placeholder="380xxxxxxxxx" formControlName="phone" />

        <ion-item class='alertDanger' *ngIf="formErrors.phone">
          <span>{{formErrors.phone}}</span>
        </ion-item>
        <ion-item class='alertDanger' *ngIf="verifyErrorData.errorShow">
          <span>{{verifyErrorData.errorMessage}}</span>
        </ion-item>

        <div style="margin-top: 10px" *ngIf="useCode">
          <div>
            <span loc="Код*" name="Code" class="lblTxt">{{locale['Code'] || 'Код*'}}</span>
          </div>
          <input type="text" placeholder="sms code" formControlName="code" />

          <ion-item class='alertDanger' *ngIf="formErrors.code">
            <span>{{formErrors.code}}</span>
          </ion-item>
          <ion-item class='repeatCodeWrapper' *ngIf="useCode" (click)="repeatCode()">
            <span loc="Отправить sms код еще раз" name="RepeatCode">{{locale['RepeatCode']}}</span>
          </ion-item>
        </div>

      </div>
      <div class="btnAction">
        <button *ngIf="!useCode" [disabled]="isSendAsync || !verifyForm.valid" (click)="verifyUser()">
          <span class="btnTxt" loc="Далее" name="GetSmsCode">{{locale['GetSmsCode'] || 'Далее'}}</span>
        </button>
        <button *ngIf="useCode" [disabled]="isSendAsync || !verifyForm.valid" (click)="logIn()">
            <span class="btnTxt" loc="Войти" name="Login">{{locale['Login'] || 'Войти'}}</span>
          </button>
      </div>

    </form>
  </div>
</ion-content>