<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content padding class="top20">
  <ion-list>
    <form [formGroup]='loginForm'>
      <ion-item *ngIf='authError' class='alertDanger'>
        <span>Неверный номер или пароль</span>
      </ion-item>

      <ion-item>
        <ion-input type="text"  placeholder="380xxxxxxxxx" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item class='alertDanger' *ngIf="formErrors.phone">
        <span>{{formErrors.phone}}</span>
      </ion-item>

      <ion-item>
        <ion-input  type="password" placeholder="Пароль" formControlName="password"></ion-input>
      </ion-item>
      <ion-item class='alertDanger' *ngIf="formErrors.password">
         <span>{{formErrors.password}}</span>
      </ion-item>

      <button style="background: #ffbc2e" ion-button block (click)="login()">Войти</button>
    </form>

  </ion-list>

  <div class="align-bottom" padding text-center>
    Нет аккаунта? <span class="bold" (click)="register()">Зарегистрироваться</span>
  </div>
</ion-content>
