<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content padding class="top20">
  <ion-list>
    <form [formGroup]='loginForm'>
      <ion-item *ngIf='authError' class='alertDanger'>
        <span loc="Неверный номер или пароль" name="WrongLoginOrPass">{{locale['WrongLoginOrPass'] ? locale['WrongLoginOrPass'] : 'Неверный номер или пароль'}}</span>
      </ion-item>

      <ion-item>
        <ion-input type="text"  [mask]="'380999999999'" type="number"  placeholder="380xxxxxxxxx" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item class='alertDanger' *ngIf="formErrors.phone">
        <span>{{formErrors.phone}}</span>
      </ion-item>

      <ion-item>
        <ion-input  type="password" placeholder="{{locale['Password'] ? locale['Password'] : 'Пароль'}}" formControlName="password"></ion-input>
      </ion-item>
      <ion-item class='alertDanger' *ngIf="formErrors.password">
         <span>{{formErrors.password}}</span>
      </ion-item>

      <button [disabled]="isSendAsync" style="background: #ffbc2e" ion-button block (click)="login()"><span loc="Войти" name="Login">{{locale['Login'] ? locale['Login'] : 'Войти'}}</span></button>
    </form>

  </ion-list>

  <div class="align-bottom" padding text-center>
    <span loc="Нет аккаунта" name="NoAccount">{{locale['NoAccount'] ? locale['NoAccount'] : 'Нет аккаунта'}}</span>? <span class="bold" (click)="register()"><span loc="Зарегистрироваться" name="SignUp">{{locale['SignUp'] ? locale['SignUp'] : 'Зарегистрироваться'}}</span></span>
  </div>
</ion-content>
