<ion-row class="f-padding-lr-5">
    <ion-grid class="f-border-ligthgray">

      <ion-row *ngIf="cart.promocodeInvalid">
        <ion-col>
          <error [errorText]="errorText"></error>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <span loc="Промокод" name="PromoCode">{{locale['PromoCode']}}</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <input type="text" [(ngModel)]="cart.promoCode" placeholder="{{locale['EnterCode'] ? locale['EnterCode'] : 'Введите код'}}" name="promoCode" #promoCode="ngModel">
        </ion-col>
      </ion-row>

    <ion-row *ngIf="promoCode.value" >
      <ion-col style="padding-bottom: 15px;">
        <button class="f-btn-secondary" ion-button block
                (click)="onApplyPromoCodeClick()"><span loc="Применить" name="Apply">{{locale['Apply']}}</span></button>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-row>
