<ion-row style="padding-left: 5px; padding-right: 5px;">
    <ion-grid class="f-border-ligthgray">

    <ion-row>
      <ion-col class="f-size-larger">
        <span>Promotional Code</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="f-size-larger">
        <input [(ngModel)]="cart.promoCode" placeholder="Enter code" name="promoCode" #promoCode="ngModel">
      </ion-col>
    </ion-row>

    <ion-row *ngIf="promoCode.value" >
      <ion-col style="padding-bottom: 15px;">
        <button class="f-btn-secondary" ion-button block
                (click)="onApplyPromoCodeClick()">Apply</button>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-row>
