page-call-me {

  #outer {
    width: 100%;
    padding-top: 10vh;
    display:inline-block;
  }

  ion-grid {
    padding: 10px;
  }

  #label-div {
    padding-bottom: 20px;
  }

  #btn-div {
    padding-top: 50px;
  }

}
