<ion-header>
  <main-toolbar [disableHeaderClickHandler] = "true" [showCartIcon] = "false" [showCloseIcon] = "true" [showSearchButton]="false"></main-toolbar>
</ion-header>

<ion-content padding>

  <div id="outer">
    <form #f="ngForm">
      <ion-grid class="f-size-larger">
        <ion-row>
          <ion-col>
            <div id='label-div'>
              <label for="phone"><span>{{locale['CallMeText']}}</span></label>
            </div>
            <input type="text" [(ngModel)]="callPhone" [mask]="'380999999999'" id="phone" name="phone"
                   placeholder="{{locale['Phone']}}"
                   pattern="[0-9]{12}"
                   minlength="12"
                   maxlength="12"
                   required #phone="ngModel">

            <div *ngIf="!phone.valid && phone.touched">
              <span *ngIf="phone.hasError('required')"  class="f-color-validation-error"><span loc="Пожалуйста, введите номер телефона" name="EnterPhone">{{locale['EnterPhone']}}</span></span>
              <span *ngIf="phone.hasError('pattern')"  class="f-color-validation-error"><span loc="№ телефона должен содержать 12 цифр в формате 38XXXXXXXXXX" name="PhoneFormat">{{locale['PhoneFormat']}}</span></span>
            </div>

          </ion-col>
        </ion-row>

        <div id="btn-div">
          <ion-row>
            <ion-col>
              <button class="f-btn-action" ion-button block
                      [attr.disabled]="!validatePage()?'':null"
                      (click)="callMe()">
                <span>{{locale['CallMeBtn']}}</span>
              </button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </form>
  </div>


</ion-content>
