page-item-review-write {

  .f-color-secondary {
    color: dimgrey;
  }

  .f-size-large {
    font-size: 18px;
  }

  .f-size-small {
    font-size: 12px;
  }

  .f-img-item {
    width: 100px; height: 100px;  padding: 6px 4px 2px;
  }

  .f-item-nopadding {
    padding: 0px;
  }

  .f-item-padding-bottom {
    padding-bottom: 2px;
  }

  .f-item-nopadding-tb {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .f-btn-add-cart, .f-btn-add-cart.activated {
    background: #ffbc2e;
    color: #000000;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
  }

  ul {
    padding: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;

    &.rating li {
      padding: 0px 0px !important;
      background: none;
      color: color($colors, foxrating);

      ion-icon {
        font-size: 45px;
      }
    }
    &.rating1 li {
      padding: 0px 0px !important;
      background: none;
      color: color($colors, foxrating);

      ion-icon {
        font-size: 45px;
      }
    }
  }

}
