page-item-review-write {

  .f-padding-5 {
    padding: 5px;
  }

  ul {
    padding: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;

    &.rating li {
      display: inline-block;
      padding: 0px 0px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 45px;
      }
    }

  }

}
