<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="product || store">
    <ion-grid>
      <ion-row>
        <ion-col class="f-item-section-header">Your review
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-auto no-padding *ngIf="product">
          <div>
            <img class="f-img-item" [src]="product?.imageUrl">
          </div>
        </ion-col>
        <ion-col no-padding>
          <ion-grid class="f-item-nopadding">
            <ion-row>
              <ion-col no-padding class="f-item-padding-bottom" *ngIf="product">
                {{product?.name}}
              </ion-col>
              <ion-col no-padding class="f-item-padding-bottom" class="f-size-large" *ngIf="store">
                <span>Store by address: </span><br><span>{{store?.address}}</span>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col nowrap no-padding class="f-item-padding-bottom">
                <rating id="rating" [(ngModel)]="rating">
                </rating>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="f-padding-5 f-border-ligthgray">
          <ion-textarea placeholder="Write your review here" rows="15" [(ngModel)]="reviewText"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button class="f-btn-add-cart" ion-button block (click)="onSubmitClick()">Submit</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
