<div class="f-light-bkgrd f-border-ligthgray">
  <ion-grid>
    <ion-row class="f-size-default">
      <ion-col >
        <b>FILTER</b>
      </ion-col>
      <ion-col col-auto >
        <span class="f-color-info f-size-small" (click)="filter.resetFilter()">Clear all</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>



<div  class="f-border-ligthgray" *ngFor="let cat of filter.fCategories; let i = index">
  <ion-grid (click)="toggleOpen(i)">
    <ion-row class="f-size-default">
      <ion-col>
        <b>{{cat.catName}}</b><br>
        <span class="f-size-smaller f-color-secondary">{{cat.filterExpr | truncate: 40}}</span>
      </ion-col>
      <ion-col col-auto>
        <ion-icon item-end name="ios-arrow-up" *ngIf="cat.isOpened"></ion-icon>
        <ion-icon item-end name="ios-arrow-down" *ngIf="!cat.isOpened"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="f-light-bkgrd" *ngIf="cat.isOpened">
    <div  class="f-border-ligthgray" no-padding *ngFor="let item of cat.items">
      <ion-grid class="f-size-small">
        <ion-row >
          <ion-col padding-left>
            {{item.name}}
          </ion-col>
          <ion-col col-auto>
            <input type="checkbox" [(ngModel)]="item.isChecked" (click)="onFilterElementClick(item, cat.items, $event)">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</div>
