<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content padding class="register">
  <div class="contentWrapper">
    <ion-list class="list-form" *ngIf="onLoad">
      <!-- error message block-->
      <ion-item class='alertDanger' *ngIf="verifyErrorData.errorShow">
        <span>{{verifyErrorData.errorMessage}}</span>
      </ion-item>

      <form [formGroup]='registerForm'>
        <ion-item *ngIf='!!(account.errorMessages[register])' class='alertDanger'>
          <span>{{account.errorMessages[register]}}</span>
        </ion-item>

        <div>
          <span loc="Телефон*" name="Phone" class="lblTxt">{{locale['Phone'] || 'Телефон*'}}</span>
        </div>
        <input type="text" [mask]="'380999999999'" placeholder="380xxxxxxxxx" formControlName="phone" />
        <ion-item class='alertDanger' *ngIf="formErrors.phone">
          <span>{{formErrors.phone}}</span>
        </ion-item>


        <div class="contentBlock">
          <span loc="Электронная почта*" name="Email" class="lblTxt">{{locale['Email'] || 'Электронная почта*'}}</span>
        </div>
        <input type="text" placeholder="{{locale['Email'] ? locale['Email'] : 'Электронная почта'}}" formControlName="email" />
        <ion-item class='alertDanger' *ngIf="formErrors.email">
          <span>{{formErrors.email}}</span>
        </ion-item>

        <div class="contentBlock">
          <span loc="Имя*" name="Name" class="lblTxt">{{locale['Name'] || 'Имя*'}}</span>
        </div>
        <input type="text" placeholder="{{locale['Name'] ? locale['Name'] : 'Имя'}}" formControlName="fname" />
        <ion-item class='alertDanger' *ngIf="formErrors.fname">
          <span>{{formErrors.fname}}</span>
        </ion-item>

        <div class="contentBlock">
          <span loc="Фамилия*" name="Surname" class="lblTxt">{{locale['Surname'] || 'Фамилия*'}}</span>
        </div>
        <input type="text" placeholder="{{locale['Surname'] ? locale['Surname'] : 'Фамилия'}}" formControlName="lname" />
        <ion-item class='alertDanger' *ngIf="formErrors.lname">
          <span>{{formErrors.lname}}</span>
        </ion-item>

        <div class="contentBlock contentFl">
          <div>
            <span loc="Валюта" name="Currency" class="lblTxt">{{locale['Currency'] || 'Валюта'}}</span>
          </div>
          <dropdown-list [reference]="currentCurrency" 
                         [store]="currencies"
                         [map]="{valueName:'id',displayName:'shortName'}"
                         [options]="{popupHeader:locale['Currency']}">
          </dropdown-list>
        </div>


        <div class="contentBlock contentFr">
            <span loc="Локализация" name="Localization" class="lblTxt">{{locale['Localization'] || 'Локализация'}}</span>
            <dropdown-list [reference]="currentLang"
                           [store]="langs"
                           [map]="{valueName:'id',displayName:'name'}"
                           [options]="{popupHeader:locale['Localization']}">
            </dropdown-list>
        </div>     
        <div style="clear: both"></div>
        <div class="btnAction">
          <button [disabled]="isSendAsync || !registerForm.valid" (click)="register()">
            <span class="btnTxt" loc="Создать аккаунт" name="CreateAccount">{{locale['CreateAccount'] || 'Создать аккаунт'}}</span>
          </button>
        </div>
      </form>
    </ion-list>
  </div>
</ion-content>