<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>431639834815-sg6a6bqs4oor5sls3fh9g1nos0aaohus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431639834815-sg6a6bqs4oor5sls3fh9g1nos0aaohus</string>
	<key>API_KEY</key>
	<string>AIzaSyAIJlqalY3-3fyi0likTIW__Q2SfPKri08</string>
	<key>GCM_SENDER_ID</key>
	<string>431639834815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foxtrot.foxshop</string>
	<key>PROJECT_ID</key>
	<string>foxapp-187308</string>
	<key>STORAGE_BUCKET</key>
	<string>foxapp-187308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431639834815:ios:a93a9b9d01927190</string>
	<key>DATABASE_URL</key>
	<string>https://foxapp-187308.firebaseio.com</string>
</dict>
</plist>