<div *ngIf="addresses && (addresses.length>0)">
  <ion-grid class="f-item-nopadding-tb f-size-larger">
    <ion-row *ngFor="let sa of addresses">

      <ion-grid class="f-border-ligthgray">

        <ion-row (click)="onIsPrimaryClick(sa, $event)">
          <ion-col col-2 text-center>
            <div class="pure-radiobutton">
              <input type="radio" id="radioButton" class="radio" [checked]="sa.isPrimary">
              <label for="radioButton"></label>
            </div>
          </ion-col>
          <ion-col class="f-padding-b-10" >
            <b>{{sa?.recName}}</b>
            <br>
            {{sa?.street}}
            <br>
            {{sa?.bldApp}}
            <br>
            {{sa?.city}}, {{sa?.zip}}
            <span *ngIf="sa?.idCountry"><br>
                  {{sa?.country?.name}} </span>

            <span *ngIf="sa?.phone" loc="Телефон" name="Phone"><br>{{locale['Phone']}}: {{sa?.phone}} </span>
          </ion-col>
        </ion-row>
        <div *ngIf="sa.isPrimary">
          <div *ngIf="withDelivery === true">
            <ion-row>
              <ion-col class="f-padding-lr-10">
                <button class="f-btn-action" ion-button block (click)="deliverToThisAddress(sa)">
                  <span loc="Доставить по этому адресу" name="DeliverToThis">{{locale['DeliverToThis']}}</span>
                </button>
              </ion-col>
            </ion-row>
          </div>
          <ion-row>
            <ion-col col-6 class="f-padding-lr-10 f-padding-b-15">
              <button class="f-btn-secondary" ion-button block (click)="editAddress(sa)">
                <span loc="Редактировать" name="Edit">{{locale['Edit']}}</span></button>
            </ion-col>
            <ion-col col-6 class="f-padding-lr-10 f-padding-b-15">
              <button class="f-btn-secondary" ion-button block (click)="deleteAddress(sa)">
                <span loc="Удалить" name="Delete">{{locale['Delete']}}</span></button>
            </ion-col>
          </ion-row>
        </div>

      </ion-grid>
    </ion-row>
  </ion-grid>
</div>
