novelty-sketch {
    .f-novelty-sketch-spiner-loader
    {
        text-align: center; 
        img {
            margin-top: 40px;
        }
    }
    .f-novelty-sketch-img {
        margin-top: 10px;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
}
