<div class="f-statusbar"></div>
<ion-navbar>
  <button ion-button menuToggle *ngIf="!showCloseIcon">
    <ion-icon name="menu"></ion-icon>
  </button>

  <img src="assets/imgs/foxlogo.svg" id="button-logo" (click)="goToHome()">
  <ion-buttons end>
    <button id="search-button"  ion-button (click)="showSearch()" *ngIf="showSearchButton">
      <ion-icon class="f-icon-search-scale" id="srch-icon" name="ios-search">
      </ion-icon>
    </button>

    <button id="cart-button" ion-button (click)="goToCart()" *ngIf="showCartIcon">
      <ion-icon class="f-icon-cart-scale" name="shopping-cart">
        <ion-badge id="itemscount-badge" *ngIf="cart.cartItemsCount>0">{{cart.cartItemsCount}}</ion-badge>
      </ion-icon>
    </button>
    <button id="close-button" ion-button (click)="close()" *ngIf="showCloseIcon">
      <ion-icon class="f-icon-search-scale" name="close">
      </ion-icon>
    </button>

  </ion-buttons>

</ion-navbar>
<hr class="f-hr-divider">

<toggle-menu [showToggleButton]=showToggleButton></toggle-menu>
