main-toolbar {

  #srch-icon {
    color: color($colors, primary);
  }

  #cart-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 0px;
    //overflow: visible;
  }

  #close-button {
    position: relative;
    right: 10px;
//    overflow: visible;
  }

  #itemscount-badge {
    background-color: color($colors, badges);
    position: absolute;
    top: -10px;
    right: -12px;
    border-radius: 100%;
    transform: scale(0.7);
  }

  #button-logo {
    position: relative;
    top: 3px;
    height: 18px;
    left: 20px;
  }

  .f-icon-search-scale {
    transform: scale(1.5);
  }

  .f-icon-cart-scale {
    transform: scale(1.2);
  }


}
