<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content>
  <div padding class="border-bottom text-lg">
    <span class="pull-left" (click)="chooseSortBy()" ion-text color="gray">
      {{ sortBy }}
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </span>
    <ion-icon class="pull-right" name="apps" (click)="viewGrid()" [hidden]="viewType == 'grid'"></ion-icon>
    <ion-icon class="pull-right" name="menu" (click)="viewList()" [hidden]="viewType == 'list'"></ion-icon>
    <div class="clear"></div>
  </div>

  <!--List of items-->
  <ion-list no-margin class="list-full-border list-products"
            [ngClass]="{'grid': viewType == 'grid', 'list': viewType == 'list'}">
    <ion-item class="product" *ngFor="let item of items" (click)="viewItem(item.id)">
      <ion-thumbnail item-left>
        <img src="{{ item.thumb }}">
      </ion-thumbnail>
      <!--item's information-->
      <div>
        <div text-wrap>{{ item.name }}</div>
        <div>
          <span ion-text color="danger" *ngIf="item.sale_price">{{ item.sale_price | currency:'USD':true }}</span>
          <span ion-text color="danger" *ngIf="!item.sale_price">{{ item.price | currency:'USD':true }}</span>
        </div>
        <div class="origin-price text-sm">
          <span *ngIf="item.sale_price" class="text-decoration">{{ item.price | currency:'USD':true }}</span>
          <span *ngIf="item.sale_price" class="discount-rate" ion-text color="danger">{{ discountPercent(item.price, item.sale_price) }}%</span>
        </div>
        <div class="bottom-info text-sm">
          <span ion-text color="gray" class="pull-left" *ngIf="item.shipping == 0">Free shipping</span>
          <span ion-text color="gray" class="pull-left" *ngIf="item.shipping != 0">Shipping: {{ item.shipping | currency:'USD':true}}</span>
          <span ion-text color="gray" class="pull-right">
            {{ item.num_orders }} Заказов
          </span>
          <div class="clear"></div>
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>

<!--Footer buttons-->
<ion-footer class="category">
  <ion-toolbar position="bottom">
    <!--filter button-->
    <ion-buttons text-center start>
      <button ion-button icon-left [navPush]="tabFilterPage">
        <ion-icon name="ios-funnel"></ion-icon>
        Фильтр
      </button>
    </ion-buttons>
    <!--attribute button-->
    <ion-buttons text-center end>
      <button ion-button icon-left [navPush]="tabAttributePage">
        <ion-icon name="apps"></ion-icon>
        Аттрибуты
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
