<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager autoplay="3000" loop="true">
    <ion-slide *ngFor="let slide of slides">
      <img src="{{ slide.src }}" alt="">
    </ion-slide>
  </ion-slides>
  <ul>
    <li *ngFor="let productElement of baseProducts" col-lg-6 col-sm-12 col-xl-6>
      <item
        [product]="productElement">
      </item>
    </li>
  </ul>

<!--  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let productElement of baseProducts" col-12>
        <item
          [product]="productElement">
        </item>
      </ion-col>
    </ion-row>
  </ion-grid>-->

</ion-content>
