bonus {
  .f-bonuses {
    font-size: 11px;
    color: #ef4023;
    margin-top: 3px;
    float: left;

    span {
      padding: 0 5px;
      border: 1px solid #ef4023;
      font-size: 12px;
      font-weight: 400;
    }
  }

}
