bonus {

  .f-bonuses {
    font-size: 11px;
    margin-top: 3px;
    float: left;
    display: table;
    overflow: hidden;

    #cell {
      display: table-cell;
      vertical-align: middle;
    }

    span {
      padding-left: 4px;
      //border: 1px solid #ef4023;
      font-size: 12px;
      font-weight: 400;
    }
  }

}
