.toast-message {
  text-align: center;
  //border-radius: 5px !important;
}

page-item-detail {



  .item-md.item-block .item-inner {
    border-bottom: 0px;
  }

  .f-color-secondary {
    color: dimgrey;
  }

  .f-color-blue {
    color: darkslateblue;
  }

  .f-price {
    font-size: 28px;
    font-weight: bold;
  }

  .f-old-price {
    color: #aaa;
    text-decoration: line-through!important;
    font-size: 20px;
  }

  .f-text-strike {
    text-decoration: line-through!important;
  }

  .f-color-green {
    color: color($colors, green);
  }

  .f-size-large {
    font-size: 18px;
  }
  .f-size-larger {
    font-size: 16px;
  }

  .f-size-medium {
    font-size: 14px;
  }

  .f-size-small {
    font-size: 12px;
  }

  .f-img-item-lg {
    padding: 6px 4px 2px;
  }

  .f-item-nopadding {
    padding: 0px;
  }

  .f-item-padding-left {
    padding-left: 5px;
  }

  .f-item-padding-bottom {
    padding-bottom: 2px;
  }

  .f-item-nopadding-tb {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .f-grid-feat-bkgrnd {
    background-color: #8e9093;
    color: black;
  }

  #btnQty button {
    width: 90px;
    height: 32px;
  }

  .f-btn-add-cart, .f-btn-add-cart.activated {
    background: #ffbc2e;
    color: #000000;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
  }

  .f-btn-secondary {
    background: color($colors, bgColor);
    color: #000000;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
  }

  .ion-col-border {
    border: 1px solid grey;
  }


  ul {
    padding: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;

    &.rating li {
      padding: 0px 0px !important;
      background: none;
      color: color($colors, foxrating);

      ion-icon {
        font-size: 12px;
      }
    }
  }

  #rating-large {
    ul.rating li {
        ion-icon {
          font-size: 18px;
        }
    }

  }
}
