<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="f-item-nopadding-tb">
    <ion-row>
      <ion-col text-end>
        <product-rating [product]=product></product-rating>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="f-item-nopadding f-item-padding-left">
        <span class="f-size-medium f-color-secondary">{{product.name}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="f-item-nopadding f-item-padding-left">
        <span class="f-size-small f-color-secondary">Props string placeholder</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <img class="f-img-item-lg" [src]="product.imageUrl">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="f-item-nopadding f-item-padding-left">
        <h3>{{product.price | localeCurrency:userService.currency}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="f-color-secondary f-item-nopadding">On stock placeholder</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="f-item-padding-bottom">
        <div class="input-qty">
            <span class="btn" (click)="decQty()">
              <ion-icon name="ios-remove"></ion-icon>
            </span>
          <input readonly [(ngModel)]="qty">
          <span class="btn" (click)="incQty()">
              <ion-icon name="ios-add"></ion-icon>
            </span>
          <div class="clear"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="f-btn-add-cart" ion-button block>Add to Cart</button>
      </ion-col>
    </ion-row>
  </ion-grid>
<hr>
  <ion-grid class="f-item-nopadding-tb f-color-secondary">
    <ion-row>
      <ion-col>
        <h6>About this item</h6>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="product.description">
      <ion-col>
        <b>Description</b>
        <p></p>
        <div [innerHTML]="product.description"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="f-item-nopadding-tb f-color-secondary">
    <ion-row>
      <ion-col>
        <b>Features & Details</b>
        <p></p>
        <ion-grid no-padding>
          <ion-row *ngFor="let prop of product.Props">
            <ion-col style="padding-left: 5px; border: 1px solid #EBEBEC; background-color: #EFEFF0" col-4>
              {{prop.id_Prop.name}}
            </ion-col>
            <ion-col style="padding-left: 5px; border: 1px solid #EBEBEC;" col-8>
              {{prop.value}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid class="f-item-nopadding-tb f-color-secondary">
    <ion-row>
      <ion-col>
        <h6>Reviews</h6>
        <p></p>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let rev of reviews">
      <ion-col style="padding-left: 5px;">
        <rating  style="display: inline-block;" [(ngModel)]="rev.rating"
                 readOnly="true">
        </rating>
        <br>
        <span [innerHTML]="rev.reviewText"></span>
        <br>
        <span>by </span><span style="color: darkslateblue;">{{rev.user}}</span>
      </ion-col>
    </ion-row>

  </ion-grid>


<!--
  <ion-slides pager autoplay="3000" loop="true">
    <ion-slide *ngFor="let slide of slides">
      <img src="{{ slide.src }}" alt="">
    </ion-slide>
  </ion-slides>

-->
</ion-content>
