page-item-detail {

  div.slide-zoom img {
    max-height: 50vh;
  }

  .f-price {
    font-size: 28px;
    font-weight: bold;
  }

  ul {
    padding: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;

    &.rating li {
      padding: 0px 0px !important;
      background: none;
      color: color($colors, rating);

      ion-icon {
        font-size: 12px;
      }
    }
  }

  .f-icon-scale {
    transform: scale(1.25);
  }

  .f-icon-red {
   background-color: color($colors, badges);
  }

  .f-icon-color-red {
    color: color($colors, badges);
   }

   .f-popular-accessories-scroll {
    width:100vw;
    height:230px;
  }
    
  .dropdown-width .f-drop-button-small .button  {
    width: 100%
  }
}
