<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="f-item-nopadding-tb">
    <ion-row>
      <ion-col text-end>
        <product-rating [product]=product></product-rating>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="f-item-nopadding f-item-padding-left">
        <span class="f-size-medium f-color-secondary">{{product.name}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="f-item-nopadding f-item-padding-left">
        <span class="f-size-small f-color-secondary">Props string placeholder</span>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col text-center *ngIf="!product.slideImageUrls">
        <img class="f-img-item-lg" [src]="product.imageUrl">
      </ion-col>
      <ion-col text-center *ngIf="product.slideImageUrls">
        <ion-slides pager >
          <ion-slide *ngFor="let slide of product.slideImageUrls">
            <img src="{{ slide }}" alt="">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="f-item-nopadding f-item-padding-left">
        <h3>{{product.price | localeCurrency:userService.currency}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="f-color-secondary f-item-nopadding">On stock placeholder</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="f-item-padding-bottom">
        <div class="input-qty">
            <span class="btn" (click)="decQty()">
              <ion-icon name="ios-remove"></ion-icon>
            </span>
          <input readonly [(ngModel)]="qty">
          <span class="btn" (click)="incQty()">
              <ion-icon name="ios-add"></ion-icon>
            </span>
          <div class="clear"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="f-btn-add-cart" ion-button block>Add to Cart</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>

  <ion-grid class="f-item-nopadding-tb f-color-secondary">
    <ion-row>
      <ion-col>
        <span class="f-size-large">About this item</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="product.description" (click)="onShowProductDescription()">
      <ion-col style="padding: 5px; border: 1px solid #EBEBEC;">
        <ion-item  detail-push text-wrap class="f-color-secondary">
          <item-description [description]=product.description [displayTextLength]="250"></item-description>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="product.Props" (click)="onShowProductProps()">
      <ion-col style="padding: 5px; border: 1px solid #EBEBEC;">
        <ion-item  detail-push text-wrap class="f-color-secondary">
            <item-props [product]=product [displayPropCount]="3"></item-props>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>

  <p></p>

  <ion-grid class="f-item-nopadding-tb f-color-secondary" *ngIf="reviews.length >0">
    <ion-row>
      <ion-col>
        <span class="f-size-large">Customer reviews</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding: 5px; border: 1px solid #EBEBEC;">
        <ion-item detail-push text-wrap class="f-color-secondary">
          <b class="f-size-larger">{{reviews.length}} customer reviews</b><br>
          <rating id="rating-large" style="display: inline-block;" [(ngModel)]="product.rating"
                   readOnly="true">
          </rating>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="f-size-large">Top reviews</span>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let rev of reviews; let i= index" (click)="onShowReviewClick(rev)">
      <ion-col style="padding-left: 5px; border: 1px solid #EBEBEC;" *ngIf="i<4">
        <ion-item detail-push text-wrap class="f-color-secondary">
          <item-review [review]=rev [displayTextLength]="200" [fullMode]="false"></item-review>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
