<ion-header>
  <main-toolbar [showCartIcon]="false" [showSearchButton]="false"></main-toolbar>
</ion-header>

<ion-content class="f-size-larger" >
  <ion-grid *ngIf="dataLoaded">
    <ion-row>
      <ion-col class="f-section-header"><span loc="Выберите доставку" name="ChooseShippingOptions">{{locale['ChooseShippingOptions']}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="dataLoaded">
    <ion-row padding>
      <ion-col>
        <span><span loc="Посылка" name="Shipment">{{locale['Shipment']}}</span> {{itemIndex+1}} <span loc="из" name="Of">{{locale['Of']}}</span> {{this.cart.loShipments.length}}</span>
        <br>
        <ul class="f-ul">
          <li *ngFor="let itm of this.cart.loShipments[itemIndex].shipmentItems">
            <span class="f-size-default"><b>{{cart.getCartOrderProductById(itm.idOrderSpecProd)?.quotationproduct?.product?.name}}</b></span>
          </li>
        </ul>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col class="f-padding-lr-15">
        <b><span><span loc="Выберите вариант доставки" name="ChooseDeliveryOption">{{locale['ChooseDeliveryOption']}}</span>:</span></b>
      </ion-col>
    </ion-row>

    <div *ngFor="let opt of cart.loShipmentDeliveryOptions" style="padding-left: 5px; padding-right: 5px;">
      <ion-row *ngIf="opt.itemIdx === itemIndex && ((opt.deliveryType.id == 1 && loOfficesLoaded) || opt.deliveryType.id != 1)">

        <ion-grid class="f-border-ligthgray">

          <ion-row (click)="onSelectOptionClick(opt)">
            <ion-col col-2 text-center>
              <div class="pure-radiobutton">
                <input type="radio" id="radioButton" class="radio" [checked]="opt.isChecked">
                <label for="radioButton"></label>
              </div>
            </ion-col>
            <ion-col col-10 class="f-size-larger">
              <span loc="Получите" name="GetIt">{{locale['GetIt']}}</span> <span class="f-color-green">{{opt.deliveryDate | date: 'fullDate'}}</span>
              <br>
              <span *ngIf="(opt.deliveryCost !== 0) && (opt.loEntityId !== 150)">
                <span loc="Стоимость доставки" name="DeliveryCost">{{locale['DeliveryCost']}}</span> <span class="f-color-green" >{{opt.deliveryCost | localeCurrency:userService.currency}} </span>
              </span>

              <span *ngIf="(opt.loEntityId === 150)">   
                  <span loc="Стоимость доставки" name="DeliveryCost">{{locale['DeliveryCost']}}</span> <span loc="по тарифам перевозчика" name="TarifOfDelivery">{{locale['TarifOfDelivery']}}</span>
              </span>

              <div *ngIf="(opt.deliveryCost === 0) && (opt.deliveryType.id !== 3) && (opt.loEntityId !== 150)">
                <span>
                  <span class="f-color-green"><b><span loc="БЕСПЛАТНАЯ доставка" name="FreeDelivery">{{locale['FreeDelivery']}}</span></b></span>
                </span>
                <br>
              </div>

              <span *ngIf="opt.loName" loc="Доставляется" name="DeliveryBy">{{locale['DeliveryBy']}}</span> <span class="f-color-green">{{opt.loName}}</span>
              <span *ngIf="opt.pickupLocationName" loc="Самовивоз" name="PickupPlace">{{locale['PickupPlace']}}</span> <span class="f-color-green">{{opt.pickupLocationName}}</span>


              <br>
              <div *ngIf="opt.deliveryType.name">
                <span loc="Тип доставки:" name="DeliveryType">{{locale['DeliveryType']}}</span> <span class="f-color-green">{{opt.deliveryType.name }}</span>
              </div>

              <div *ngIf="opt.loEntityOfficesList && opt.loEntityOfficesList.length>0">
                <dropdown-list id="btnLoOffice" class="truncate" [param]="opt.loEntityOfficeId"
                               [ref]="{bindRef:opt,bindName:'loEntityOfficeId'}"
                               [placeholder]="locale['PleaseSelectLoOffice']"
                               [store]="opt.loEntityOfficesList"
                               [options]="{popupClass: 'f-large-dictionary', popupHeader: locale['PleaseSelectLoOffice']}"
                               [IsCentering]="false"
                               [map]="{valueName:'id', displayName:'name'}">
                </dropdown-list>
              </div>



            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-row>
    </div>


    <ion-row>
      <ion-col class="f-padding-lr-5">
        <button class="f-btn-action" ion-button block
                [attr.disabled]="!validatePage()?'':null"
                (click)="onContinueClick()"><span loc="Далее" name="Continue">{{locale['Continue']}}</span></button>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
