<ion-header>
  <main-toolbar [showCartIcon]="false"></main-toolbar>
</ion-header>

<ion-content class="f-size-larger">
  <ion-grid>
    <ion-row>
      <ion-col class="f-section-header">Choose your shipping options
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row padding *ngIf="dataLoaded">
      <ion-col>
        <span>Shipment {{itemIndex+1}} of {{cart.orderProducts.length}}</span>
        <br>
        <span class="f-size-default"><b>{{cart.orderProducts[itemIndex]?.quotationproduct?.product?.name}}</b></span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="dataLoaded">
      <ion-col class="f-padding-lr-15">
        <b><span>Choose a delivery option:</span></b>
      </ion-col>
    </ion-row>

    <div *ngFor="let opt of cart.loDeliveryOptions" style="padding-left: 5px; padding-right: 5px;">
      <ion-row *ngIf="opt.itemIdx === itemIndex">

        <ion-grid class="f-border-ligthgray" *ngIf="dataLoaded">

          <ion-row (click)="onSelectOptionClick(opt)">
            <ion-col col-2 text-center>
              <div class="pure-radiobutton">
                <input type="radio" id="radioButton" class="radio" [checked]="opt.isChecked">
                <label for="radioButton"></label>
              </div>
            </ion-col>
            <ion-col class="f-size-larger">
              Get it <span class="f-color-green">{{opt.deliveryDate | date: 'fullDate'}}</span>
              <br>
              <span *ngIf="!(opt.deliveryCost === 0)">
                Delivery Cost <span class="f-color-green" >{{opt.deliveryCost | localeCurrency:userService.currency}} </span>
              </span>
              <span *ngIf="(opt.deliveryCost === 0)">
                <span class="f-color-green"><b>FREE delivery</b></span>
              </span>
              <br>
              Delivery by <span class="f-color-green">{{opt.loName}}</span>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-row>
    </div>


    <ion-row *ngIf="dataLoaded">
      <ion-col class="f-padding-lr-5">
        <button class="f-btn-action" ion-button block
                [attr.disabled]="!isAnyOptionSelected()?'':null"
                (click)="onContinueClick()">Continue</button>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
