page-shipping-options {

  .pure-radiobutton input[type="radio"] + label {
    position: absolute;
    top: 50%;
    left: 20%;
    padding: 0px;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
  }

  .f-padding-lr-15 {
    padding-left: 15px;
    padding-right: 15px;
  }



}
