page-item-props {

  .f-size-large {
    font-size: 18px;
  }

  .f-color-secondary {
    color: dimgrey;
  }

  .f-item-nopadding-tb {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .f-item-padding-left {
    padding-left: 5px;
  }

  .f-size-larger {
    font-size: 16px;
  }

}
