<ion-header>
  <main-toolbar [showCartIcon] = "false"></main-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="f-color-secondary" *ngIf="dataLoaded">
    <ion-row>
      <ion-col style="padding-left: 15px; padding-right: 15px; padding-top: 20px;">
        <b><span class="f-size-large">Your current FoxClub member's bonus balance</span></b>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 5px; padding-right: 5px;" *ngIf="dataLoaded">
      <ion-grid class="f-border-ligthgray">

        <ion-row>
          <ion-col class="f-size-larger">
            Bonus:
          </ion-col>
          <ion-col class="f-size-larger f-color-red" text-right col-auto>
            <b>{{cart.availBonus}}</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="f-size-larger">
            Promo bonus:
          </ion-col>
          <ion-col class="f-size-larger f-color-red" text-right col-auto>
            <b>{{cart.availPromoBonus}}</b>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <bonus-pay></bonus-pay>


    <ion-row>
      <ion-col style="padding-left: 5px; padding-right: 5px; padding-top: 15px;">
        <button class="f-btn-add-cart" ion-button block
                [attr.disabled]="!validatePage()?'':null"
                (click)="onContinueClick()">Continue</button>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
