<<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Корзина</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">
  <div class="card" margin-top *ngFor="let seller of cart.sellers; let sellerIndex = index"
       [hidden]="!seller.items.length">
    <div class="card-header" padding>
      Поставщик: {{ seller.name }}
    </div>

    <ion-list class="list-full-border" no-margin>
      <ion-item class="product" *ngFor="let item of seller.items; let i = index">
        <ion-thumbnail item-left>
          <img src="{{ item.thumb }}">
        </ion-thumbnail>
        <!--item's information-->
        <div>
          <div text-wrap>{{ item.name }}</div>
          <div class="text-sm">
            <span ion-text color="gray">{{ item.options.join(',') }}</span>
          </div>
          <div padding-bottom>
            <span class="pull-right">{{ item.price | currency:'USD':true }}</span>
            <div class="clear"></div>
          </div>
          <div>
            <div class="input-qty">
            <span class="btn">
              <ion-icon name="ios-remove"></ion-icon>
            </span>
              <input type="text" [(ngModel)]="item.quantity">
              <span class="btn">
              <ion-icon name="ios-add"></ion-icon>
            </span>
              <div class="clear"></div>
            </div>
            <div class="pull-right bottom-info text-lg trash-btn">
              <ion-icon name="trash" color="gray" class="pull-right" (click)="remove(i, sellerIndex)"></ion-icon>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>


    <div class="card-footer" padding>
      <div>
        <span class="pull-left" ion-text color="gray">Стоимость</span>
        <span class="pull-right" ion-text color="gray">{{ seller.subtotal | currency:'USD':true }}</span>
        <div class="clear"></div>
      </div>
      <div>
        <span class="pull-left" ion-text color="gray">Доставка</span>
        <span class="pull-right" ion-text color="gray">{{ seller.shipping | currency:'USD':true }}</span>
        <div class="clear"></div>
      </div>
      <div>
        <span class="pull-left" ion-text color="gray">Сумма</span>
        <span class="pull-right bold" ion-text color="fox">{{ seller.total | currency:'USD':true }}</span>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <!--Total price-->
  <div class="card" margin-top>
    <div class="card-footer" padding>
      <div>
        <span class="pull-left" ion-text color="gray">Итоговая сумма</span>
        <span class="pull-right" ion-text color="gray">{{ cart.subtotal | currency:'USD':true }}</span>
        <div class="clear"></div>
      </div>
      <div>
        <span class="pull-left" ion-text color="gray">Доставка</span>
        <span class="pull-right" ion-text color="gray">{{ cart.shipping | currency:'USD':true }}</span>
        <div class="clear"></div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer class="cart-footer" padding>
  <ion-title>
    <span ion-text color="gray">Сумма</span>
    <br/>
    <span class="bold" ion-text color="fox">{{ cart.total | currency:'USD':true }}</span>
  </ion-title>
  <ion-buttons end>
    <button ion-button (click)="buy()" color="fox">
      BUY ALL
    </button>
  </ion-buttons>
</ion-footer>
