category-btn {
  .ctb-wrapper{
    min-height: 84px;
    padding-top: 10px;
    margin-top: -4px;
  }

  .ctb-content{
    width: auto;
    height: 64px;
    //margin-left: 10px;
    padding-top: 13px;
    float: left
  }

  .ctb-content span{
    color: #4e4e4e;
    font-size: 18px;
  }

  .ctb-inbox {
    width: 64px;
    height: 64px;
    padding-top: 16px;
    margin-left: 15px;
    float: left
  }

  .ctb-arrow {
    padding-top: 24px;
    text-align: right;
    padding-right: 5px;
  }
}
