category-btn {
  .ctb-wrapper{
    min-height: 84px;
    padding-top: 10px;
    margin-top: -4px;
  }

  .ctb-content{
    width: 150px;
    height: 64px;
    margin-left: 40px;
    padding-top: 21px;
    float: left
  }

  .ctb-content span{
    color: #4e4e4e;
    font-size: 18px;
  }

  .ctb-inbox {
    width: 64px;
    height: 64px;
    margin-left: 19px;
    float: left
  }

  .ctb-arrow {
    padding-top: 19px;
    text-align: right;
    padding-right: 10px
  }
}
