page-no-connection {
  img {
    width: 250px;
    height: 250px;
  }
  .f-noconn-text-large {
    font-size: 24px;
    font-weight: 600;
    color: black;
  }
  .f-noconn-text-smaller {
    font-size: 14px;
  }
}
