<ion-header>
  <main-toolbar [showCartIcon]="false"></main-toolbar>
</ion-header>

<ion-content class="f-size-larger">
  <ion-grid>

    <ion-row>
      <ion-col class="f-section-header">Select a payment method
      </ion-col>
    </ion-row>

    <div *ngFor="let mtd of pmtMethods" >
      <ion-row class="f-padding-lr-5">

        <ion-grid class="f-border-ligthgray" *ngIf="dataLoaded">

          <ion-row (click)="onSelectOptionClick(mtd)">
            <ion-col col-2 text-center>
              <div class="pure-radiobutton">
                <input type="radio" id="radioButton" class="radio" [checked]="mtd.isChecked">
                <label for="radioButton"></label>
              </div>
            </ion-col>
            <ion-col class="f-padding-tb-10">
              {{mtd.method.name}}
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-row>
    </div>
<!--
Credit Products
-->
    <div *ngIf="dataLoaded && ((pmtMethods[2].isChecked))">
      <ion-row *ngIf="!cart.loan">
        <ion-col>
          <button text-center class="f-btn-secondary" ion-item block
                  (click)="onShowCreditCalculatorClick()">Please select a loan</button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="cart.loan && (cart.pmtMethod.id === 3)"
               class="f-padding-lr-5">

        <ion-grid no-padding class="f-border-ligthgray">
          <ion-row *ngIf="(cart.pmtMethod.id === 3)"
                   (click)="onShowCreditCalculatorClick()">
            <ion-col>
              <ion-item  detail-push text-wrap>
                <credit-brief *ngIf="cart.loan"
                              [creditAmt]="cart.cartGrandTotal" [credit]="cart.loan">
                </credit-brief>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-row>
    </div>
<!--
Passport Data
-->
    <div *ngIf="dataLoaded && cart.loan && ((pmtMethods[2].isChecked))">
      <ion-row class="f-padding-lr-5">
        <ion-grid class="f-border-ligthgray">
          <form #f="ngForm">
            <ion-row>
              <ion-col style="padding-bottom: 10px;">
                <label for="lastName">Last name:*</label>
                <input type="text" [(ngModel)]="cart.person.lastName" id="lastName" name="lastName"
                       pattern="[А-ЯA-Za-яa-z,і,ї,є,І,Ї,Є,']+"
                       required #lastName="ngModel">
                <div *ngIf="!lastName.valid && lastName.touched">
                <span *ngIf="lastName.hasError('required')"
                      class="f-color-validation-error">Please enter your last name</span>
                  <span *ngIf="lastName.hasError('pattern')"
                        class="f-color-validation-error">Only alphabets allowed</span>
                </div>
                <label for="firstName">First name:*</label>
                <input type="text" [(ngModel)]="cart.person.firstName" id="firstName" name="firstName"
                       pattern="[А-ЯA-Za-яa-z,і,ї,є,І,Ї,Є,']+"
                       required #firstName="ngModel">
                <div *ngIf="!firstName.valid && firstName.touched">
                <span *ngIf="firstName.hasError('required')"
                      class="f-color-validation-error">Please enter your first name</span>
                  <span *ngIf="firstName.hasError('pattern')"
                        class="f-color-validation-error">Only alphabets allowed</span>
                </div>
                <label for="middleName">Middle name:*</label>
                <input type="text" [(ngModel)]="cart.person.middleName" id="middleName" name="middleName"
                       pattern="[А-ЯA-Za-яa-z,і,ї,є,І,Ї,Є,']+"
                       required #middleName="ngModel">
                <div *ngIf="!middleName.valid && middleName.touched">
                <span *ngIf="middleName.hasError('required')"
                      class="f-color-validation-error">Please enter your middle name</span>
                  <span *ngIf="middleName.hasError('pattern')"
                        class="f-color-validation-error">Only alphabets allowed</span>
                </div>
                <ion-grid no-padding>
                  <ion-row no-padding>
                    <label for="passportSeries">Passport series and number:*</label>
                  </ion-row>
                  <ion-row no-padding>
                    <ion-col col-2 no-padding>
                      <input type="text" [(ngModel)]="cart.person.passportSeries" id="passportSeries" name="passportSeries"
                             pattern="[А-ЯA-Za-яa-z]{2}"
                             minlength="2"
                             maxlength="2"
                             required #passportSeries="ngModel">
                    </ion-col>
                    <ion-col col-10 no-padding>
                      <input type="text" [(ngModel)]="cart.person.passportNum" id="passportNum" name="passportNum"
                             pattern="[0-9]{6}"
                             minlength="6"
                             maxlength="6"
                             required #passportNum="ngModel">
                    </ion-col>
                  </ion-row>
                  <ion-row no-padding>
                    <ion-col no-padding>

                      <div *ngIf="!passportSeries.valid && passportSeries.touched">
                        <span *ngIf="passportSeries.hasError('required')" class="f-color-validation-error">Please enter your your passport series</span>
                        <span *ngIf="passportSeries.hasError('pattern')" class="f-color-validation-error">Only 2 uppercase alphabets allowed</span>
                      </div>

                      <div *ngIf="!passportNum.valid && passportNum.touched">
                        <span *ngIf="passportNum.hasError('required')" class="f-color-validation-error">Please enter your passport number</span>
                        <span *ngIf="passportNum.hasError('pattern')" class="f-color-validation-error">Only 6 digits allowed</span>
                        <span *ngIf="passportNum.hasError('minlength')"
                              class="f-color-validation-error"><br>Passport number should be 6 digits</span>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <label for="issuedAuthority">Issued Authority:*</label>
                <input type="text" [(ngModel)]="cart.person.issuedAuthority" id="issuedAuthority" name="issuedAuthority"
                       required #issuedAuthority="ngModel">
                <div *ngIf="!issuedAuthority.valid && issuedAuthority.touched">
                <span *ngIf="issuedAuthority.hasError('required')"
                      class="f-color-validation-error">Please enter Issued Authority</span>
                </div>
                <label for="taxNumber">Tax Number:*</label>
                <input type="text" [(ngModel)]="cart.person.taxNumber" id="taxNumber" name="taxNumber"
                       pattern="[0-9]*"
                       minlength="10"
                       maxlength="10"
                       required #taxNumber="ngModel">
                <div *ngIf="!taxNumber.valid && taxNumber.touched">
                <span *ngIf="taxNumber.hasError('required')"
                      class="f-color-validation-error">Please enter your tax number</span>
                  <span *ngIf="taxNumber.hasError('pattern')"
                        class="f-color-validation-error">Only digits allowed</span>
                  <span *ngIf="taxNumber.hasError('minlength')"
                        class="f-color-validation-error">Tax number should be 10 digits</span>
                </div>
                <label for="birthDate">Birth date:*</label>
                <input type="date" [(ngModel)]="cart.person.birthDate"
                       id="birthDate" name="birthDate"
                       required #birthDate="ngModel">
                <div *ngIf="!birthDate.valid && birthDate.touched">
                <span *ngIf="birthDate.hasError('required')"
                      class="f-color-validation-error">Please enter your birth date</span>
                </div>
              </ion-col>

            </ion-row>
          </form>
        </ion-grid>
      </ion-row>
    </div>


    <ion-row padding-top>
      <ion-col></ion-col>
    </ion-row>

    <promo-code *ngIf="dataLoaded"></promo-code>

    <ion-row *ngIf="dataLoaded">
      <ion-col class="f-padding-lr-5">
        <button class="f-btn-add-cart" ion-button block

                [attr.disabled]="!validatePage()?'':null"

                (click)="onContinueClick()">Continue</button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
