<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>
<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col class="f-section-header"><span loc="Отслеживание заказа" name="TrackItem">{{locale['TrackItem']}}</span>
        <br>
        <span class="f-size-default" style="font-weight: normal;"><span loc="№ заказа" name="TrackingNumber">{{locale['TrackingNumber']}}</span>:  {{navParams.data.loTrackTicket}}</span>
      </ion-col>
    </ion-row>

    <div *ngIf="dataLoaded">
      <ion-grid class="f-padding-lr-5 f-size-small" >

          <ion-grid>
            <ion-row>
              <ion-col col-4>
                <b><span loc="Дата/Время" name="DateTime">{{locale['DateTime']}}</span></b>
              </ion-col>
              <ion-col col-8>
                <b><span loc="Статус доставки" name="TrackingStatus">{{locale['TrackingStatus']}}</span></b>
              </ion-col>
            </ion-row>
          </ion-grid>
        <grid-hr></grid-hr>

          <div *ngFor="let logItem of trackArr">
            <ion-grid >
              <ion-row>
                <ion-col col-4>
                  {{logItem.trackDate | date: 'medium'}}
                </ion-col>
                <ion-col col-8>
                  {{logItem.trackString}}
                </ion-col>
              </ion-row>
            </ion-grid>
            <grid-hr></grid-hr>
          </div>

      </ion-grid>
    </div>
  </ion-grid>


</ion-content>
