<ion-header #header>
  <main-toolbar [showSearchButton]="false" [host]="this" [showToggleButton]="false"></main-toolbar>
  <search-btn #srch [hostPage]="this" (click)="onSearchClick()"></search-btn>
  <progress-bar *ngIf="pageMode === 3" [active]="srchService.inSearch"></progress-bar>
  <filter #filter *ngIf="(pageMode === 3) && (srchService.products)" [srch]="srchService"></filter>
</ion-header>

<ion-content #cont>
  <div class="f-bkg-div">
    <!--
    <ion-refresher (ionRefresh)="doRefresh($event)" [snapbackDuration]="1000" [closeDuration]="1000">
      <ion-refresher-content
        pullingIcon="ios-refresh-outline"
        refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
  -->

    <div *ngIf="(pageMode === 1)" class="slides-banner-container">
      <sliding-banner></sliding-banner>
    </div>

    <div *ngIf="content && !userService.userMutex && (pageMode === 1)">
      <div class="f-div-card">
        <category-btn></category-btn>
      </div>
      <div class="f-flex-async-container">
        <!--novelty 1-->
        <div *ngIf="pageOptions.novelty_wilefox.is_block_active"
              [style.order]="pageOptions.novelty_wilefox.block_order" class="f-div-card-margin f-novelty-min-height">
          <novelty-sketch [innerId]=pageOptions.novelty_wilefox.block_content_id></novelty-sketch>
        </div>
        <!--actions 1-->
        <div *ngIf="pageOptions.action.is_block_active"
             [style.order]="pageOptions.action.block_order" class="f-div-card-margin f-action-min-height">
          <action-sketch [innerId]=pageOptions.action.block_content_id [isOnLanding]="true"></action-sketch>
        </div>
        <!--novelty 2-->
        <div *ngIf="pageOptions.novelty_samsung.is_block_active"
             [style.order]="pageOptions.novelty_samsung.block_order" class="f-div-card-margin f-novelty-min-height">
          <novelty-sketch [innerId]=pageOptions.novelty_samsung.block_content_id></novelty-sketch>
        </div>

        <div *ngIf="pageOptions.deals.is_block_active && productsOfDay && productsOfDay.length > 0"
            [style.order]="pageOptions.deals.block_order" class="f-div-card-margin">
          <ion-grid>
            <ion-row>
              <ion-col class="f-item-section-header" style="padding-top: 5px;">
                <span loc="Товар дня" name="Deals">{{locale['Deals']}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding-bottom: 20px; padding-left: 0px; padding-right: 0px;">
                <div *ngFor="let productElement of productsOfDay, let i=index">
                  <hr *ngIf="!(i == 0)">
                  <item [product]="productElement">
                  </item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div *ngIf="pageOptions.hits.is_block_active && productsSalesHits && productsSalesHits.length > 0"
             [style.order]="pageOptions.hits.block_order" class="f-div-card-margin">
          <ion-grid>
            <ion-row>
              <ion-col class="f-padding-lr-5 f-item-section-header" style="padding-top: 5px;">
                <span loc="Хиты продаж" name="Hits">{{locale['Hits']}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="f-padding-lr-5">
                <ion-scroll class="f-day-deals-scroll" scrollX="true">
                  <ion-row nowrap>
                    <div *ngFor="let prod of productsSalesHits">
                      <item-tile [product]="prod"></item-tile>
                    </div>
                  </ion-row>
                </ion-scroll>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <section-loading [style.order]="1000" *ngIf="!loadingDone"></section-loading>
        </div>
    </div>

    <div class="f-div-card" *ngIf="pageMode === 2">
      <ion-item *ngFor="let sItem of searchButtonControl.srchItemsArr; let i=index" (click)="search(sItem.itemText)">
        <ion-icon class="f-item-gray" *ngIf="sItem.isClosable" name="md-close" item-left (click)="deleteSearchItem($event, i)"></ion-icon>
        <div [ngClass]="sItem.isClosable ? 'f-color-info' : 'f-product'">
          <span [innerHTML]="sItem.itemDisplayText"> </span>
        </div>
        <ion-icon class="f-item-gray" name="arrow-up-left" item-right></ion-icon>
      </ion-item>
    </div>

    <div class="f-div-card" *ngIf="pageMode === 3">
      <items-list #itemsList [parentControl]="this"></items-list>
    </div>
  </div>
</ion-content>