page-home {

  .ion-slides {
    height: auto;
  }

  .f-item-gray {
    color: color($colors, gray);
  }

  .f-day-deals-scroll {
    width:100vw;
    height:220px;
  }
}
/*
page-home,
.home {

  ion-slides {
    height: auto;
  }

}
*/
