<ion-header #header>
  <main-toolbar [showSearchButton]="false" [host]="this" [showToggleButton]="false"></main-toolbar>
  <search-btn #srch [hostPage]="this" (click)="onSearchClick()"></search-btn>
  <progress-bar *ngIf="pageMode === 3" [active]="srchService.inSearch"></progress-bar>
  <filter #filter *ngIf="(pageMode === 3) && (srchService.products)" [srch]="srchService"></filter>
</ion-header>

<ion-content #cont>
  <div class="f-bkg-div">
    <div *ngIf="(pageMode === 1)" class="slides-banner-container">
      <sliding-banner></sliding-banner>
    </div>

    <div *ngIf="content && !userService.userMutex && (pageMode === 1)">
      <div class="f-div-card">
        <category-btn></category-btn>
      </div>
      <div class="f-flex-async-container">
        <div *ngFor="let section of pageSections" [style.order]="section.block_order">
          <!--action-->
          <div *ngIf="section.is_block_active && (section.entity_type == 1)" class="f-div-card-margin f-action-min-height">
            <action-sketch [innerId]=section.block_content_id [isOnLanding]="true"></action-sketch>
          </div>
          <!--novelty-->
          <div *ngIf="section.is_block_active && (section.entity_type == 2)" class="f-div-card-margin f-novelty-min-height">
            <novelty-sketch [innerId]=section.block_content_id></novelty-sketch>
          </div>
          <!-- deals -->
          <div *ngIf="section.is_block_active && (section.entity_type == 3) && productsOfDay && productsOfDay.length > 0"
            style="min-height: 168px" class="f-div-card-margin">
            <ion-grid>
              <ion-row>
                <ion-col class="f-item-section-header" style="padding-top: 5px;">
                  <span loc="Товар дня" name="Deals">{{locale['Deals']}}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="padding-bottom: 20px; padding-left: 0px; padding-right: 0px;">
                  <div *ngFor="let productElement of productsOfDay, let i=index">
                    <hr *ngIf="!(i == 0)">
                    <item [product]="productElement">
                    </item>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <!-- sale hits -->
          <div *ngIf="section.is_block_active && (section.entity_type == 4) && productsSalesHits && productsSalesHits.length > 0"
            style="min-height:266px" class="f-div-card-margin">
            <ion-grid>
              <ion-row>
                <ion-col class="f-padding-lr-5 f-item-section-header" style="padding-top: 5px;">
                  <span loc="Хиты продаж" name="Hits">{{locale['Hits']}}</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="f-padding-lr-5">
                  <ion-scroll class="f-day-deals-scroll" scrollX="true">
                    <ion-row nowrap>
                      <div *ngFor="let prod of productsSalesHits">
                        <item-tile [product]="prod"></item-tile>
                      </div>
                    </ion-row>
                  </ion-scroll>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        <section-loading [style.order]="1000" *ngIf="!loadingDone"></section-loading>
        </div>
    </div>

    <div class="f-div-card" *ngIf="pageMode === 2">
      <ion-item *ngFor="let sItem of searchButtonControl.srchItemsArr; let i=index" (click)="search(sItem.itemText)">
        <ion-icon class="f-item-gray" *ngIf="sItem.isClosable" name="md-close" item-left (click)="deleteSearchItem($event, i)"></ion-icon>
        <div [ngClass]="sItem.isClosable ? 'f-color-info' : 'f-product'">
          <span [innerHTML]="sItem.itemDisplayText"> </span>
        </div>
        <ion-icon class="f-item-gray" name="arrow-up-left" item-right></ion-icon>
      </ion-item>
    </div>

    <div class="f-div-card" *ngIf="pageMode === 3">
      <items-list #itemsList [parentControl]="this"></items-list>
    </div>
  </div>
</ion-content>