page-home {

  /*
  .content {
    background-color: #dbdde1;
  }
  */

  .f-bkg-div {
    background-color: #dbdde1; 
  }
  
  .ion-slides {
    height: auto;
  }
  
  .slides-banner-container {
    background-color: white;
    min-height: 100px
  }
  
  .f-flex-async-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .f-item-gray {
    color: color($colors, gray);
  }

  .f-day-deals-scroll {
    width:100vw;
    height:220px;
  }
}
/*
page-home,
.home {

  ion-slides {
    height: auto;
  }

}
*/
