<ion-header #header>
  <main-toolbar [host]="this"></main-toolbar>
  <search-btn #srch [hostPage]="this" (click)="onSearchClick()"></search-btn>
  <filter #filter *ngIf="(pageMode === 3) && (srchService.products)" [srch]="srchService"></filter>
</ion-header>

<ion-content #cont>
<!--
  <ion-refresher (ionRefresh)="doRefresh($event)" [snapbackDuration]="1000" [closeDuration]="1000">
    <ion-refresher-content
      pullingIcon="ios-refresh-outline"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
-->

  <div *ngIf="content && !userService.userMutex && (pageMode === 1)">
    <sliding-banner></sliding-banner>
    <html-outlet [html]="content" [context]="this"></html-outlet>
  </div>

  <div *ngIf="pageMode === 2">
    <ion-item *ngFor="let sItem of searchButtonControl.srchItemsArr; let i=index"
              (click)="search(sItem.itemText)">
      <ion-icon class="f-item-gray" *ngIf="sItem.isClosable" name="md-close" item-left (click)="deleteSearchItem($event, i)"></ion-icon>
      <div [ngClass]="sItem.isClosable ? 'f-color-info' : 'f-product'">
        {{sItem.itemText}}
      </div>
      <ion-icon class="f-item-gray"  name="arrow-up-left" item-right></ion-icon>
    </ion-item>
  </div>

  <div *ngIf="pageMode === 3">
<!--

    <progress-bar [active]="srchService.inSearch"></progress-bar>

-->
    <items-list #itemsList [parentControl]="this"></items-list>
  </div>

</ion-content>
