page-home {

  /*
  .content {
    background-color: #dbdde1;
  }
  */

  .f-bkg-div {
    background-color: #dbdde1;
  }

  .ion-slides {
    height: auto;
  }

  .slides-banner-container {
    background-color: white;
    min-height: 100px
  }

  .f-flex-async-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .f-item-gray {
    color: #999;
  }

  .f-day-deals-scroll {
    width:100vw;
    height:230px;
  }

  .f-novelty-min-height {
    min-height: 310px;
  }

  .f-action-min-height {
    min-height: 176px;
  }
}
/*
page-home,
.home {

  ion-slides {
    height: auto;
  }

}
*/
