<ion-row style="padding-left: 5px; padding-right: 5px;">

  <ion-grid class="f-border-ligthgray">
    <ion-row>
      <ion-col class="f-size-medium f-color-blue">
        You could pay up to <span class="f-color-red"><b>{{cart.availBonus}}</b></span> bonuses for this purchase.
        <br>
        Tick "Pay promotional bonuses" option if you want to pay promotional bonuses.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="f-size-larger">
        <span>Pay bonuses</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="f-size-larger">
        <input [(ngModel)]="cart.userInputBonus" placeholder="Enter bonus quantity" name="bonus" id="bonus"
               pattern="[0-9]*"
               (keyup)="term$.next($event.target.value)"
               #bonus="ngModel">
        <div *ngIf="!bonus.valid && bonus.touched">
                  <span *ngIf="bonus.hasError('pattern')"
                        style="color: red;">Only digits allowed</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="f-size-larger">
        <span>Pay promotional bonuses</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="f-size-larger">
        <input type="checkbox" [checked]="cart.payByPromoBonus" name="payByPromoBonus" id="payByPromoBonus"
               (change)="cart.payByPromoBonus = !cart.payByPromoBonus">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-row>
