<ion-row class="f-padding-lr-5 f-size-larger">

  <ion-grid class="f-border-ligthgray">
    <ion-row>
      <ion-col class="f-size-default f-color-info">
        You could pay up to <span class="f-color-red"><b>{{cart.availBonus}}</b></span> bonuses for this purchase.
        <br>
        Tick "Pay promotional bonuses" option if you want to pay promotional bonuses.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="f-padding-t-10">
        <span>Pay bonuses</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <input type="text" [(ngModel)]="cart.bonus" placeholder="Enter bonus quantity" name="bonus" id="bonus"
               pattern="[0-9]*"
               (keyup)="bonusInputStream$.next($event.target.value)"
               #bonus="ngModel">
        <div *ngIf="!bonus.valid && bonus.touched">
                  <span *ngIf="bonus.hasError('pattern')"
                        class="f-color-validation-error">Only digits allowed</span>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col class="f-padding-tb-10">
        <div class="pure-checkbox">
          <input type="checkbox" [checked]="cart.payByPromoBonus" name="payByPromoBonus" id="payByPromoBonus"
                 (change)="cart.payByPromoBonus = !cart.payByPromoBonus">
          <label for="payByPromoBonus">Pay promotional bonuses</label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-row>
