product-compare {
    .f-even-row {
        background-color: #EFEFF0;
        padding: 5px;
    }   

    .f-col-vertical-line  {
        border-left: 2px solid #CCCCCC;
        text-align: center;
    }

    .f-padding-tb-5 {
        padding-top: 5px;
        padding-bottom: 5px;
      }

    .f-compare-scroll {
    }
    
    .f-compare-scroll .scroll-content {
        padding-left: 0 !important;
    }

    .f-item-tile .f-div-item-tile {
        margin: 0 auto
    }

    .f-product-price-item-tile {
        color: rgba(184, 0, 18, 0.94);
      }
}
