<div>
  <ion-grid class="f-item-nopadding" *ngIf="(srchService.hitsTotal > 5) || (dataInitialized)">
    <ion-row>
      <ion-col  class="f-item-padding-5 f-border-ligthgray">
        <span> {{srchService.hitsTotal}} <span loc="товаров" name="Items">{{locale['Items']}}</span></span>
      </ion-col>
      <ion-col col-auto text-end class="f-item-padding-5 f-border-ligthgray" (click)="showFilter($event)">
        <span>&nbsp;&nbsp;<span loc="Фильтр" name="Filter">{{locale['Filter']}}</span>&nbsp;&nbsp;</span>
        <ion-icon item-end name="ios-arrow-down"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
