<div #filterControl>
  <div *ngIf="((srch.hitsTotal >= 5) && (srch.products.length > 0)) || (srch.inFilter)">
    <ion-grid class="f-item-nopadding" style="padding-top: 1px;">
      <ion-row>
        <ion-col  class="f-item-padding-5 f-border-ligthgray">
          <span> {{srch.hitsTotal}} <span loc="товаров" name="Items">{{locale['Items']}}</span></span>
        </ion-col>
        <ion-col col-auto text-end class="f-item-padding-5 f-border-ligthgray" (click)="showFilter($event)">
          <span>&nbsp;&nbsp;<span loc="Фильтр" name="Filter">{{locale['Filter']}}</span>&nbsp;&nbsp;</span>
          <ion-icon item-end name="ios-arrow-down"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
