<div class="f-div-card" #filterControl>
  <div *aotIf="((srch.hitsTotal >= 5) && (srch.products.length > 0)) || (srch.inFilter)">
    <ion-grid class="f-item-nopadding f-color-secondary" style="padding-top: 2px; padding-bottom: 2px;">
      <ion-row>
        <ion-col text-left class="f-item-padding-5">
          <span> {{srch.hitsTotal}} <span loc="товаров" name="Items">{{locale['Items']}}</span></span>
        </ion-col>
        <ion-col col-auto text-end class="f-item-padding-5" (click)="showFilter($event)">
          <span>&nbsp;&nbsp;<span loc="Фильтр" name="Filter">{{locale['Filter']}}</span>&nbsp;&nbsp;</span>
          <ion-icon class="f-icon-down-tick" item-end name="ios-arrow-down"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
<hr class="f-hr-divider">
