<ion-grid class="f-item-nopadding-tb" (click)="openItemDetails(product)">
  <ion-row>
    <ion-col col-auto no-padding>
      <span class="f-size-small"></span> <!-- Badge placeholder -->
    </ion-col>
  </ion-row>
  <ion-row>
   <ion-col col-auto>
     <div>
       <img class="f-img-item" [src]="product.imageUrl">
     </div>
   </ion-col>
   <ion-col no-padding>
     <ion-grid class="f-item-nopadding">
       <ion-row>
         <ion-col no-padding class="f-item-padding-bottom">
           <span class="f-size-small f-color-secondary">{{product?.manufacturer?.name}}</span>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col no-padding class="f-item-padding-bottom">
           {{product?.name}}
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col nowrap no-padding class="f-item-padding-bottom">
           <product-rating [product]=product></product-rating>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col no-padding class="f-item-padding-bottom">
           <b>{{product.price | localeCurrency:userService.currency}}</b>
         </ion-col>
       </ion-row>

       <ion-row *ngIf="product.bonuses">
         <ion-col no-padding class="f-item-padding-bottom" >
           <bonus [bonusCnt]="product.bonuses"></bonus>
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col no-padding class="f-item-padding-bottom f-size-smaller" *ngIf="(resolved) && (noOfQuotes > 1)">
           {{noOfQuotes}} offers from <b>{{Price | localeCurrency:userService.currency}}</b>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col no-padding>
           <span class="f-size-small f-color-green" *ngIf="OnStock">In Stock</span>
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col no-padding>
           <span class="f-size-small f-size-smaller f-color-secondary" *ngIf="(noOfQuotes > 1)">See more choices</span>
         </ion-col>
       </ion-row>

     </ion-grid>
   </ion-col>
  </ion-row>
</ion-grid>

