<ion-grid class="f-no-padding" (click)="openItemDetails(product)">
<!--
  <ion-row no-padding>
    <ion-col col-auto>
      <span class="f-size-small"></span> &lt;!&ndash; Badge placeholder &ndash;&gt;
    </ion-col>
  </ion-row>
-->
  <ion-row>
   <ion-col col-auto>
     <img *ngIf="product.imageUrl" class="f-img-item" [src]="product.imageUrl">
     <img *ngIf="!product.imageUrl" class="f-img-item" src="assets/imgs/nophoto.png">
   </ion-col>
   <ion-col>
     <ion-grid class="f-item-nopadding-tb">
       <ion-row>
         <ion-col class="f-item-col">
           <span class="f-size-small">{{product?.manufacturer?.name}}</span>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col class="f-item-col f-product">
           {{product?.name}}
         </ion-col>
       </ion-row>

       <ion-row>
         <ion-col nowrap class="f-item-col">
           <product-rating [product]=product></product-rating>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col class="f-item-col f-product">
           <b>{{product.price | localeCurrency:userService.currency}}</b>
         </ion-col>
       </ion-row>

       <ion-row *ngIf="product.bonuses">
         <ion-col class="f-item-col" >
           <bonus [bonusCnt]="product.bonuses"></bonus>
         </ion-col>
       </ion-row>

       <ion-row *ngIf="(resolved) && (noOfQuotes > 1)">
         <ion-col class="f-item-col f-size-smaller" >
           {{noOfQuotes}} <span loc="предложений от" name="OffersFrom">{{locale['OffersFrom']}}</span> <b>{{Price | localeCurrency:userService.currency}}</b>
         </ion-col>
       </ion-row>

       <ion-row *ngIf="OnStock">
         <ion-col class="f-item-col f-size-small f-color-green">
           <span loc="В наличии" name="InStock">{{locale['InStock']}}</span>
         </ion-col>
       </ion-row>

       <ion-row *ngIf="(noOfQuotes > 1)">
         <ion-col class="f-item-col f-size-small f-size-smaller">
           <span loc="Посмотреть другие варианты" name="SeeMoreChoices">{{locale['SeeMoreChoices']}}</span>
         </ion-col>
       </ion-row>

     </ion-grid>
   </ion-col>
  </ion-row>
</ion-grid>

