item-review {

  ul {
    padding: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;

    &.rating li {
      padding: 0px 0px !important;
      background: none;
      color: color($colors, foxrating);

      ion-icon {
        font-size: 18px;
      }
    }
  }

  .f-review-answer {
    margin-left: 10px;
    //margin-top: 5px;
    padding: 10px 5px 5px;
    //border: 1px solid #EBEBEC;
  }

  .f-review-user-name {
    color: darkslateblue;
  }

  .f-review-feedback-thanks {
    color: forestgreen;
    ion-icon::before {
      font-size: 30px;
      padding: 0;
      margin: 0;
      height: 17px;
      line-height: 17px;
    }
    ion-icon {
      font-size: 30px;
      padding: 0;
      margin: 0;
      height: 17px;
      line-height: 17px;
      vertical-align: -35%;
    }
  }

}
