<ion-header>
  <main-toolbar></main-toolbar>
  <ion-select [(ngModel)]="selectedCity" (ionChange)="changeMarkers()" placeholder="Выберите город"
              class="f-another-select">
    <ion-option *ngFor="let city of cities" [value]="city.name" checked="city.name === selectedCity">{{city.name}}
    </ion-option>
  </ion-select>
  <ion-select [(ngModel)]="selectedMarker" (ionChange)="handleListSelect()" placeholder="Выберите адрес магазина"
              class="f-another-select">
    <ion-option *ngFor="let shop of shopList" [value]="shop.value" checked="shop.label === selectedMarker.label">
      {{shop.label}}
    </ion-option>
  </ion-select>
</ion-header>

<ion-content no-bounce>
  <!--GMap-->
  <div [ngStyle]="{'height': 100 + '%'}" #mapCanvas id="map_canvas"></div>
  <!--[ngStyle]="{'width': width + 'px', 'height': height + 'px'}"-->
</ion-content>

<div *ngIf="selectedMarker !== null">
  <ion-footer class="f-map-footer" no-bounce>
    <ion-buttons align="center">
      <button ion-button icon-left clear (click)="addToFavorite()" [disabled]="selectedMarker === null"
              class="f-map-button">
        <ion-icon name="md-star-outline"></ion-icon>
        В избранное
      </button>
      <button ion-button icon-left clear (click)="buildRoute()" [disabled]="selectedMarker === null"
              class="f-map-button">
        <ion-icon name="ios-navigate-outline"></ion-icon>
        Проложить маршрут
      </button>
    </ion-buttons>
  </ion-footer>
</div>
