
page-map {
  ion-content {
    background: rgb(229, 227, 223);
  }

  page-map {
    #map_canvas {
      background-color: transparent;
    }
  }

  page-map #map_canvas {
    overflow: auto;
    opacity: 0;
    transition: opacity 150ms ease-in
  }

  page-map #map_canvas.show-map {
    opacity: 1;
  }

  ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
  }

  ion-select {
    z-index: 0;
    position: relative;
    height: 40px !important;

    .select-text {
      height: 25px !important;
    }
  }
}

.another-select {
  max-width: 100%;
  min-width: 100%;
}
.map-button {
  max-width: 45%;
}
