<ion-header>
  <main-toolbar></main-toolbar>
  <div class="f-drop-buttons" *ngIf="cities && cities.length > 0">
    <dropdown-list
      [options]="dropDownCityOpts"
      [reference]="selectedCity"
      [store]="cities"
      [map]="{valueName:'id',displayName:'name'}"
      [afterUpdate]="changeMarkers"
      *ngIf="cities">
    </dropdown-list>
    <div *ngIf="shopList && (shopList !== []) && shopList[0] && (shopList[0].value !== null)">
      <dropdown-list
        [options]="dropDownAddressOpts"
        [reference]="selectedMarker"
        [store]="shopList"
        [map]="{valueName:'value',displayName:'label'}"
        [afterUpdate]="handleListSelect">
      </dropdown-list>
    </div>
  </div>
</ion-header>

<ion-content>
  <!-- Map -->
  <div style="height: calc(100% - 45px); top: 45px;" #mapCanvas id="map_canvas"></div>
</ion-content>

<div *ngIf="selectedMarker.value.lat && selectedMarker.value.lng">
  <ion-footer class="f-map-footer">
    <ion-buttons align="center" class="f-map-buttons">
      <span *ngIf="isAuthorized === true">
        <button ion-button icon-left (click)="addToFavorite()" [disabled]="!selectedMarker.value.lat || !selectedMarker.value.lng"
                class="f-map-button" style="z-index: 2;">
          <ion-icon name="md-star-outline"></ion-icon>
          <span loc="В избранное" name="toFav">{{locale['toFav']}}</span>
        </button>
      </span>
      <!--<span *ngIf="availableNavApps">
        <button ion-button icon-left (click)="useExternalNavigator(selectedMarker.value)"
                [disabled]="selectedMarker.value === null"
                class="f-map-button" *ngIf="userPosIsKnown === false">
          <ion-icon name="ios-car-outline"></ion-icon>
          <span loc="В навигаторе" name="inNav">{{locale['inNav']}}</span>
        </button>
      </span>
      <span *ngIf="availableNavApps">
        <button ion-button icon-left (click)="useExternalNavigator(selectedMarker.value)"
                [disabled]="selectedMarker.value === null"
                class="f-map-button" *ngIf="userPosIsKnown === true">
          <ion-icon name="ios-car-outline"></ion-icon>
          <span loc="В навигаторе" name="inNav">{{locale['inNav']}}</span>
        </button>
      </span>-->
      <!--<button ion-button icon-left (click)="buildRoute()" [disabled]="selectedMarker.value === null"
              class="f-map-button" *ngIf="userPosIsKnown === true">
        <ion-icon name="ios-navigate-outline"></ion-icon>
        <span loc="Маршрут" name="route">{{locale['route']}}</span>
      </button>-->
    </ion-buttons>
  </ion-footer>
</div>
