page-map {
  .fixed-content {
    margin-top: 0 !important;
  }
  .scroll-content {
    margin-top: 40px !important;
  }
  .f-another-select {
    max-width: 99%;
    min-width: 99%;
  }
  .f-map-button {
    width: 32.5%;
    font-size: 14px;
    background: #ffbc2e;
    color: #000000;
    text-transform: none;
    font-weight: 400;
  }
  .f-map-buttons {
    margin-bottom: 2%;
  }
  .button-md {
    margin: 0.2rem 0;
  }
  .f-map-page-div {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .footer-md::before {
     height: 0;
   }
  .header-md::after {
    height: 0;
  }
  .f-map-footer {
    width: 100vw;
    text-align: center;
    //background-color: color($colors, fox);
  }
  .f-left-15 {
    text-align: right;
    margin: 0 !important;
    width: 100%;
  }

  ion-content {
    background: rgb(229, 227, 223);
  }

  page-map {
    #map_canvas {
      background-color: transparent;
    }
  }

  page-map #map_canvas {
    overflow: auto;
    opacity: 0;
    transition: opacity 150ms ease-in
  }

  page-map #map_canvas.show-map {
    opacity: 1;
  }

  ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
  }

  ion-select {
    z-index: 0;
    position: relative;
    height: 40px !important;

    .select-text {
      height: 25px !important;
    }
  }

  .checked {
    color: color($colors, foxrating);
  }

  .f-drop-buttons {
    text-align: center;
    background-color: color($colors, fox);
    button {
      background-color: #ffbc2e !important;
    }
  }
}
