<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row wrap>
      <ion-col col-6 col-md-6 col-lg-3 col-xl-3 (click)="onCategoryClick(item.prefix)" *ngFor="let item of categoryForShow">
        <div text-center>
          <img [src]='convertImg(item.icon)' class="cat-icon">
          <br>
          <span class="cat-item-caption">{{item.name}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-list *ngIf='canAllCategoryView' >
      <ion-row>
        <ion-col text-center style="padding:10px 10px;" (click)="toCategoryTree()">
          <img src="assets/icon/allcategories.svg" alt="" height="50px">
          <div text-center style="font-size:15px;"> Все категории</div>
        </ion-col>
      </ion-row>
    </ion-list>

</ion-content>
