<ion-grid class="f-list-modal">
  <ion-row>
    <div>
      <button class="f-close">
        <span>X</span>
      </button>
    </div>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <table class="f-table f-table-striped f-table-hover">
        <thead>
          <tr>
            <th (click)="close()">{{displayHeader}}</th>
          </tr>
        </thead>
        <tbody [ngStyle]="getImportantStyle()">
          <tr *ngFor="let item of parent.store">
            <td id={{uniqueIdentifier(item)}} [class.f-active]='isActive(item)' (click)="onSelect(item)">{{item[displayName]}}</td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>