toggle-menu {
      .toggle-button {
        z-index: 4998 !important;
        position: fixed !important;
        top: 50% !important;
        left: -28px !important;
        height: 29px !important;

        color: color($colors, badges);
        //background-color: color($colors, clear);
        background-color: color($colors, bgColor);
      }

      .f-toggle-icon {
        z-index: 5000 !important;
        position: absolute !important;
        top: 4px !important;
        left: 32px !important;

        color: color($colors, badges);
        transform: scale(1.75);
      }
}
