<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%" *ngIf=content>
      <html-outlet [html]="content" [context]="this"></html-outlet>
  </div>
  <!-- <h3 style='text-align: center'>{{name}}</h3>
<div class='default-container'>
  <span>{{actionActiveLine}}</span>
  <div class='default-timeViewer'>
     <div style='width: 20%;margin-left:8%'>до конца<br/>акции</div>
     <div><b>{{expire?.getDate()}}</b><br/>дни</div>
     <div><b>{{expire?.getHours()}}</b><br/>часы</div>
     <div><b>{{expire?.getMinutes()}}</b><br/>мин.</div>
     <div><b>{{expire?.getSeconds()}}</b><br/>сек.</div>
  </div>
  <div class="default-image-section">
     <img src="{{img_url}}_long.jpg" alt=''>
  </div>
  <div class="default-action-product-header">
    <h3>Акционные товары:</h3>
  </div>
  <div *ngFor='let item of quotationProduct'>
    <div *ngIf="item?.product">
       <item [product]="item?.product"></item>
    </div>
    <hr/>
  </div>
</div> -->
</ion-content>
