<ion-header #header>
  <main-toolbar></main-toolbar>
</ion-header>
<ion-content #cont>
  <div *ngIf=content>
    <!--<html-outlet [html]="content" [context]="this"></html-outlet>-->
    <h3 style='text-align: center'>{{name}}</h3>
    <div class='default-container'>
      <span>{{actionActiveLine}}</span>
      <div class='default-timeViewer'>
        <div style='width: 20%'>до конца<br/>акции</div>
        <div><b>{{expire?.days}}</b><br/>дни</div>
        <div><b>{{expire?.hours}}</b><br/>часы</div>
        <div><b>{{expire?.minutes}}</b><br/>мин.</div>
        <div><b>{{expire?.seconds}}</b><br/>сек.</div>
      </div>
      <div class="default-image-section">
        <img src="{{img_url}}" alt=''>
      </div>
      <div class="default-action-product-header">
        <h3>Акционные товары:</h3>
      </div>
      <div *ngIf="content && srch.products">
        <div class="action-product-filter-div">
          <progress-bar [active]="srch.inSearch"></progress-bar>
          <filter [srch]="srch"></filter>
        </div>
        <items-list [parentControl]="this"></items-list>
      </div>
    </div>
  </div>
</ion-content>
