<ion-header>
    <main-toolbar></main-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-item class='alertDanger' *ngIf="verifyErrorData.errorShow">
            <span>{{verifyErrorData.errorMessage}}</span>
        </ion-item>

        <form [formGroup]='currentForm'>
          <ion-item>
            <h3 loc='Сменить пароль' class="header-label">{{locale['ChangePassword']}}</h3>
          </ion-item>
          <ion-item>
           <input type="password" placeholder="Password" formControlName="password"/>
         </ion-item>
          <ion-item class='alertDanger' *ngIf="formErrors.password">
            <span>{{formErrors.password}}</span>
          </ion-item>
          <ion-item>
              <input type="password" placeholder="New Password" formControlName="newpassword"/>
          </ion-item>
             <ion-item class='alertDanger' *ngIf="formErrors.newpassword">
               <span>{{formErrors.newpassword}}</span>
             </ion-item>
          <ion-item>
                <input type="password" placeholder="Confirm Password" formControlName="confirmpassword"/>
          </ion-item>
          <ion-item class='alertDanger' *ngIf="formErrors.confirmpassword">
                <span>{{formErrors.confirmpassword}}</span>
          </ion-item>
        
          <button [disabled]="isSendAsync" *ngIf='currentForm.valid' style="background: #ffbc2e" ion-button block color="fox" (click)="change()">Выполнить</button>
        </form>
      </div>
</ion-content>