<ion-header>
    <main-toolbar [showSearchButton]="false"></main-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-item class='alertDanger' *ngIf="verifyErrorData.errorShow">
            <span>{{verifyErrorData.errorMessage}}</span>
        </ion-item>

        <form [formGroup]='currentForm'>
          <ion-item>
            <h3 loc='Сменить пароль' class="header-label">{{locale['ChangePassword']}}</h3>
          </ion-item>
          <ion-item>
           <input type="password" placeholder="{{locale['Password']?locale['Password']:'Пароль'}}" formControlName="password"/>
         </ion-item>
          <ion-item class='alertDanger' *ngIf="formErrors.password">
            <span>{{formErrors.password}}</span>
          </ion-item>
          <ion-item>
              <input type="password" placeholder="{{locale['NewPassword']?locale['NewPassword']:'Новый пароль'}}" formControlName="newpassword"/>
          </ion-item>
             <ion-item class='alertDanger' *ngIf="formErrors.newpassword">
               <span>{{formErrors.newpassword}}</span>
             </ion-item>
          <ion-item>
                <input type="password" placeholder="{{locale['ConfirmPassword']?locale['ConfirmPassword']:'Подтвердите пароль'}}" formControlName="confirmpassword"/>
          </ion-item>
          <ion-item class='alertDanger' *ngIf="formErrors.confirmpassword">
                <span>{{formErrors.confirmpassword}}</span>
          </ion-item>

          <button [disabled]="isSendAsync" *ngIf='currentForm.valid' style="background: #ffbc2e" ion-button block color="fox" (click)="change()"><span loc="Применить" name="Apply">{{locale['Apply']}}</span></button>
        </form>
      </div>
</ion-content>
