<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>


<ion-content text-center>
  <div *ngIf="fail" padding>
    <h3 style="color:red">Sorry, but your purchase has not ended successfully</h3>
    <button ion-button block class="f-btn-secondary" (click)="toHomePage()">To home page</button>
  </div>
  <div *ngIf="error" padding>
    <h3 style="color:red">Sorry, but your purchase has ended with error</h3>
    <button ion-button block class="f-btn-secondary" (click)="toHomePage()">To home page</button>
  </div>
  <div *ngIf="success" padding>
    <h3 text-center style="color:green">Thank you for your purchase!
      <ion-icon name="ios-checkmark-outline" style="font-size: 70px;vertical-align: -15px;"></ion-icon>
    </h3>
    <button ion-button block class="f-btn-secondary" (click)="toHomePage()">To home page</button>
  </div>

  <iframe height="100%" width="100%" [src]="formInput" *ngIf="formInput" frameborder="0" allowfullscreen id="iframe" name="iframe"></iframe>

</ion-content>
