<ion-split-pane>

  <ion-menu [content]="content" type="overlay">

    <ion-header>
      <!-- User profile -->
      <div padding class="menu-bg f-main-menu-header" [hidden]="!userService.isAuth">
        <img class="profile-picture" src="http://www.gravatar.com/avatar?d=mm&s=140"/>
          <p class="f-main-menu-header-content-text">
           <span loc="Привет" name="Hello">{{locale['Hello']}}</span>, {{userService.profile.fname}}
          </p>
      </div>
      <div padding class="menu-bg f-main-menu-header" [hidden]="userService.isAuth">
        <p menuClose class="f-main-menu-header-content-text" (click)="toLogIn()">
          <span loc="Привет" name="Hello">{{locale['Hello']}}</span>. <span loc="Войти" name="SignIn">{{locale['SignIn']}}</span>
        </p>
      </div>
    </ion-header>

    <ion-content no-bounce padding>
      <ion-list>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon"></ion-icon>
          <span [loc]="p.title" [name]="p.name">{{locale[p.name]}}</span>
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header style="margin-bottom:0;">
          <span loc="Информация" name="InfoMenu">{{locale.InfoMenu}}</span>
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of infoPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon"></ion-icon>
          <span [loc]="p.title" [name]="p.name">{{locale[p.name]}}</span>
        </button>
      </ion-list>

      <ion-list [hidden]="!userService.isAuth">
        <button ion-item menuClose (click)="openPage(supportPage)">
          <ion-icon item-start [name]="supportPage.icon"></ion-icon>
          <span [loc]="supportPage.title" [name]="supportPage.name">{{locale[supportPage.name]}}</span>
        </button>
      </ion-list>

      <ion-list [hidden]="!userService.isAuth">
        <button ion-item menuClose (click)="signOut($event)">
          <ion-icon item-start name="ios-exit-outline"></ion-icon>
          <span loc="Выйти" name="OutApp">{{locale.OutApp}}</span>
        </button>
      </ion-list>

      <ion-list>
        <button ion-item menuClose (click)="openExternalApp()">
          <ion-icon style="color: #3B5999" item-start name="logo-facebook"></ion-icon>
          <span loc="Фокстрот на Facebook" name="FoxOnFB">{{locale.FoxOnFB}}</span>
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
