<ion-split-pane>

  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <!-- User profile -->
      <div padding class="menu-left menu-bg" *ngIf="account.isAuth">
        <a menuClose>
          <img class="profile-picture" src="http://www.gravatar.com/avatar?d=mm&s=140">
          <h4 ion-text color="light">{{account.name}}</h4>
        </a>
      </div>
      <ion-navbar>
        <ion-title>Меню</ion-title>
      </ion-navbar>
    </ion-header>

    <ion-content class="outer-content">
      <ion-list>
        <div *ngFor="let p of appPages">
          <button ion-item menuClose (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon"></ion-icon>
            {{p.title}}
          </button>
        </div>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Информация
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of infoPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list *ngIf="account.isAuth">
        <button ion-item (click)="signOut($event)">
          Выйти
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
