<ion-split-pane>

  <ion-menu [content]="content" type="overlay">

    <ion-header>
      <div class="menu-bg" style="height: 25px;">
      </div>

      <div menuClose padding class="menu-bg f-main-menu-header">
        <img src="assets/imgs/foxlogo.svg" id="button-logo">

        <ion-grid>
          <ion-row>
            <ion-col class="f-main-menu-col">
              <img src="assets/imgs/new-design/phone.svg">
              <span>{{locale['CallMe']?locale['CallMe']:'перезвоните мне'}}</span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="userService.isAuth">
            <ion-col class="f-main-menu-col">
              <img src="assets/imgs/new-design/pct.svg">
              <span>{{cartService.availBonus}} {{locale['Bonuses']?locale['Bonuses']:'бонусов'}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </ion-header>

    <ion-content no-bounce padding>

      <ion-list>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon"></ion-icon>
          <span [loc]="p.title" [name]="p.name">{{locale[p.name]?locale[p.name]:p.title}}</span>
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header style="margin-bottom:0;">
          <span loc="Информация" name="InfoMenu">{{locale['InfoMenu']?locale['InfoMenu']:'Информация'}}</span>
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of infoPages" (click)="openPage(p)" [hidden]="!userService.isAuth && p.name === 'Support'">
          <ion-icon item-start [name]="p.icon"></ion-icon>
          <span [loc]="p.title" [name]="p.name">{{locale[p.name] ? locale[p.name] : p.title}}</span>
        </button>
      </ion-list>
    </ion-content>

    <ion-footer class="f-main-menu-footer">
      <div padding>
        <ion-grid *ngIf="userService.isAuth">
          <ion-row menuClose>
            <ion-col class="f-col-pad-right" col-9 (click)="account()">
              <img src="assets/imgs/new-design/user.svg">
              <span class="f-col-pad-left">{{userService.name}}</span>
            </ion-col>
            <ion-col col-3 text-end (click)="signOut()">
              <span style="color: #2F80ED;">{{locale['OutApp']?locale['OutApp']:'Выйти'}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-grid *ngIf="!userService.isAuth">
          <ion-row menuClose>
            <ion-col text-end class="f-col-pad-right" col-3 (click)="toLogIn()">
              <span>{{locale['SignIn']?locale['SignIn']:'Вход'}}</span>
            </ion-col>
            <ion-col col-1 text-center>|</ion-col>
            <ion-col col-8 class="f-col-pad-left" (click)="register()">
              <span>{{locale['Register']?locale['Register']:'Регистрация'}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </ion-footer>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
