// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// sass variables
$small-dictionary-width:35vw;
$middle-dictionary-width:50vw;
$large-dictionary-width:90vw;

md, ios, wp,
.toolbar-background {
  background-color: color($colors, fox);
}

md, ios, wp,
.toolbar, .ion-navbar.toolbar {
  min-height: 40px;
}

md, ios, wp,
.text-input {
  margin-bottom: 5px;
  margin-top: 5px;
}

md, ios, wp,
.toolbar-title, .bar-button-default  {
  color: white;
}

@import "../theme/icons";

ion-title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 70%;
  text-align: center;
}

ion-list ion-icon {
  color: color($colors, fox);
}

.primary-bg {
  background-color: color($colors, primary);
}

.secondary-bg {
  background-color: color($colors, secondary);
}

.gray-bg {
  background-color: color($colors, gray);
}

.light-bg {
  background-color: color($colors, light);
}

.common-bg {
  background-color: color($colors, bgColor);
}

.uppercase {
  text-transform: uppercase;
}

// slide style
.swiper-pagination-bullet {
  background: color($colors, light);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: color($colors, fox);
}

// left menu bg
.menu-bg {
  background: url("../assets/imgs/head-bg.png");
  background-size: 100% auto;
}

.profile-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

// quantity input buttons
.input-qty {
  display: inline-block;
  border-top: 1px solid color($colors, bgColor);
  border-bottom: 1px solid color($colors, bgColor);

  .btn {
    border-left: 1px solid color($colors, bgColor);
    border-right: 1px solid color($colors, bgColor);
    padding: 6px 12px;
    float: left;
  }

  input {
    padding: 6px;
    float: left;
    border: none;
    text-align: center;
    max-width: 64px;
  }
}

// fix slider bug
ion-slides[pager] {
  .swiper-pagination {
    display: block !important;
  }
}

// custom drop down list styles
.f-backdrop-opacity-popover {
  ion-backdrop { opacity: 0.4; }
}

.f-small-dictionary {
  tbody {
    border-top: 2px solid #eceeef;
    display: block;
    height: 61vh;
    overflow: auto;
  }

  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
    color: black;
    width: $small-dictionary-width;
  }
  width: $small-dictionary-width !important;
  padding: 0px !important;
}
.f-middle-dictionary {
  @extend.f-small-dictionary;
  td {
    width: $middle-dictionary-width;
  }

  width: $middle-dictionary-width !important;
}
.f-large-dictionary {
  @extend.f-small-dictionary;
  td {
    width: $large-dictionary-width;
  }

  width: $large-dictionary-width !important;
}

.f-drop-button-small {
  button {
    color: black !important;
    background-color: #d8d8d8 !important;
    width: $small-dictionary-width;
    height: 36px;
  }
  button:hover  {
    -webkit-box-shadow: 0 0 5px 2px #e59400;
    -moz-box-shadow: 0 0 5px 2px #e59400;
    box-shadow: 0 0 5px 2px #e59400;
  }
}

.f-drop-button-middle {
   @extend.f-drop-button-small;
  button {
    width: $middle-dictionary-width;
  }
}

.f-drop-button-large {
  @extend.f-drop-button-small;
  button {
    width: $large-dictionary-width;
  }
}