// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

md, ios, wp,
.toolbar-background {
  background-color: color($colors, fox);
}

md, ios, wp,
.toolbar, .ion-navbar.toolbar {
  min-height: 40px;
}

md, ios, wp,
.text-input {
  margin-bottom: 5px;
  margin-top: 5px;
}

md, ios, wp,
.toolbar-title, .bar-button-default  {
  color: white;
}

ion-title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 70%;
  text-align: center;
}

ion-list ion-icon {
  color: color($colors, fox);
}

.primary-bg {
  background-color: color($colors, primary);
}

.secondary-bg {
  background-color: color($colors, secondary);
}

.gray-bg {
  background-color: color($colors, gray);
}

.light-bg {
  background-color: color($colors, light);
}

.common-bg {
  background-color: color($colors, bgColor);
}

.padding-xs {
  padding: 10px;
}

.round {
  border-radius: 3px;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.align-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

// text size
.text-lg {
  font-size: 1.2em;
}

.text-sm {
  font-size: 0.8em;
}

// other size
button.align-left {
  .button-inner {
    justify-content: flex-start;
  }
}

.card {
  border-radius: 2px;
  font-size: 1.4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

ion-list {

  .item, .item:first-child {
    border-color: color($colors, bgColor);

    .item-inner {
      border-color: color($colors, bgColor);
    }
  }
}

.list-no-border, ion-list.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item-block {

    .item-inner {
      border: none;
    }
  }
}

ion-list.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid color($colors, bgColor);
  }
}

.list-ios[no-margin],
.list-md[no-margin],
.list-wp[no-margin] {
  margin: 0;
}

.item.no-border {

  .item-inner {
    border: none;
  }
}

.border-bottom {
  border-bottom: 1px solid color($colors, bgColor);
}

.clear {
  clear: both;
}

.grid-no-padding {

  padding: 0;

  ion-col:first-child {
    padding-left: 0;
  }

  ion-col:last-child {
    padding-right: 0;
  }
}

.list-form {

  .item {
    padding-left: 0;
    margin-top: 16px;
  }

  .item:first-child {
    border-top: 0;
  }
}

.bold {
  font-weight: bold;
}

.text-decoration {
  text-decoration: line-through;
}

// slide style
.swiper-pagination-bullet {
  background: color($colors, light);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: color($colors, fox);
}

// left menu
.menu-bg {
  background: url("../assets/imgs/head-bg.png");
  background-size: 100% auto;
}

.profile-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

// list item
.list-cards {

  ion-row {
    flex-wrap: wrap;

    ion-col {
      padding: 6px;
    }
  }
}

.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
}

.btn-add-cart, .btn-add-cart.activated {
  background: #ffffff;
  color: color($colors, fox);
}

// quantity input buttons
.input-qty {
  display: inline-block;
  border-top: 1px solid color($colors, bgColor);
  border-bottom: 1px solid color($colors, bgColor);

  .btn {
    border-left: 1px solid color($colors, bgColor);
    border-right: 1px solid color($colors, bgColor);
    padding: 6px 12px;
    float: left;
  }

  input {
    padding: 6px;
    float: left;
    border: none;
    text-align: center;
    max-width: 64px;
  }
}

// fix slider bug
ion-slides[pager] {

  .swiper-pagination {
    display: block !important;
  }
}

// grid style
.grid[no-padding] {

  .row {

    .col {
      padding: 5px;
      padding-left: 0;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

