<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content #cont padding>
  <ion-grid  class="f-item-nopadding-tb">
      <ion-row *ngFor="let item of news; let i = index" (click)="onOpenOneNews(item)">
        <ion-grid>
          <ion-row *ngIf="!(i == 0)">
            <ion-col>
              <hr class="f-hr-divider f-hr-divider-size">
            </ion-col> 
          </ion-row>
          <ion-row *ngIf="!(i == 0)">
            <ion-col>
             
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center">
              <div lazy-load-images>
                <img style="width:100%" src="assets/imgs/spiner-load.gif" [attr.data-src]="item.previewImgUrl" onError="this.src='assets/imgs/nophoto.png';"> 
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="f-item-col">
              <div style="text-align:center;">
                <span class="f-product-name">{{item.caption}}</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="f-item-col">
              <span class="f-size-small" style="float:right">{{item.publicDate | date:'longDate'}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="f-item-col">
              <div class="f-padding-tb-10" [innerHTML]="item.description"></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
    </ion-grid>

     <ion-infinite-scroll (ionInfinite)="onScroll($event)" threshold="150" *ngIf="fullNews && fullNews.length>0">
      <ion-infinite-scroll-content loadingSpinner="android" style="height:30px; min-height:1px;">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div *ngIf="!allResolved">
      <section-loading></section-loading>
    </div>
</ion-content>

