<div class="f-color-secondary f-padding-lr-10 f-padding-t-10" style="height: 100%" *aotIf="(srchService.products.length === 0) && !srchService.inSearch">
  <!--<span loc="Ваш поиск" name="YourSearch">{{locale['YourSearch']}}</span>
  <span *aotIf="srchService.lastSearch">"{{srchService.lastSearch}}"</span>
  <span loc="" name="DidNotMatch">{{locale['DidNotMatch']}}</span>-->
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <span loc="Ваш поиск" name="YourSearch">{{locale['YourSearch']?locale['YourSearch']:'По вашему запросу '}}</span>&nbsp;
      <span *aotIf="srchService.lastSearch">"{{srchService.lastSearch}}"</span>
      <span loc="" name="DidNotMatch">{{locale['DidNotMatch']?locale['DidNotMatch']:' товаров не найдено'}}</span>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="f-btn-action" ion-button block (click)="toHomePage()"><span loc="На главную" name="ToHomePage">{{locale['ToHomePage']?locale['ToHomePage']:'На главную'}}</span></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div class="search-results" #searchResults>
  <div *aotIf="srchService.products;reset:'true'" class="f-item-padding-top">
    <div *ngFor="let productElement of srchService.products, let i=index">
      <hr *aotIf="!(i == 0)">
      <item [product]="productElement">
      </item>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="onScroll($event)" threshold="150" *aotIf="!((srchService.products.length >= srchService.maxItemsCount)||(srchService.products.length === srchService.hitsTotal))">
    <ion-infinite-scroll-content loadingSpinner="android" style="height:30px; min-height:1px;">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
