items-list {

  ion-slides {
    height: auto;
  }

  .search-results {
    //height: 100vh;
    overflow-y: scroll;
  }

  .f-item-padding-top {
    padding-top: 5px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
