<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content padding>
  <product-compare [productsId]=products 
                   [productId]=productId
                   [defaultCategoryId]=defaultCategoryId
                   (closeProductClick)="closeProductClick($event)" 
                   [displayPropCount]="-1" 
                   [srchService]="srchService"
                   *ngIf="!rerender && this.products.length > 0">
  </product-compare>

  <ion-grid style="height: 100%" *ngIf="!rerender && this.products.length == 0" [@fadeInAnimation500]>
      <ion-row justify-content-center align-items-center style="height: 50%">
          <ion-icon class="f-icon-scale" name="custom-compare"></ion-icon>
      </ion-row>
      <ion-row justify-content-center style="height: 50%">
            <span class="f-color-secondary f-size-larger" loc="Нет товаров в сравнении" name="NoProductsComparison">{{locale['NoProductsComparison']}}</span>
      </ion-row>
      <ion-row>
        <ion-col>
          <button class="f-btn-action" ion-button block (click)="toHomePage()"><span loc="На главную" name="ToHomePage">{{locale['ToHomePage']}}</span></button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>