page-novelty {
  .default-container {
      background-color: white;
      height:100%;
      padding: 20px 25px;
      font-size: 17px;
      color:dimgrey;
      text-align: center;
      display: block;
    }
}
