page-edit-ship-address {

  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  input {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #btnCountry button {
    padding-right: 5px;
    width: 100%;
    margin-left: 0px;
    font-size: 16px;
  }

  #btnCity button {
    padding-right: 5px;
    width: 100%;
    margin-left: 0px;
    font-size: 16px;
  }

  .item-md.item-block .item-inner {
    border-bottom: 0px;
  }

  /*
  .f-btn-action, .f-btn-action.activated {
    background: #ffbc2e;
    color: #000000;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
  }



  .f-btn-secondary {
    background: color($colors, bgColor);
    color: #000000;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
  }
*/

}
