<ion-header>
  <main-toolbar [showCartIcon]="false" [showSearchButton]="false"></main-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <ion-grid style="padding: 10px;" class="f-size-larger">
      <ion-row>
        <ion-col style="padding-bottom: 10px;">
          <input [(ngModel)]="shippingAddress.recName" name="recName"
                 placeholder="{{locale['FirstLastName']}}" required #recName="ngModel">
          <span *ngIf="!recName.valid && recName.touched"
                class="f-color-validation-error"><span loc="Пожалуйста, введите своё имя и фамилию" name="EnterFirstLastName">{{locale['EnterFirstLastName']}}</span></span>
          <br>
          <input [(ngModel)]="shippingAddress.street" name="street"
                 placeholder="{{locale['Street']}}" required #street="ngModel">
          <span *ngIf="!street.valid && street.touched" class="f-color-validation-error"><span loc="Пожалуйста, введите улицу" name="EnterStreet">{{locale['EnterStreet']}}</span></span>
          <br>
          <input [(ngModel)]="shippingAddress.bldApp" name="bldApp"
                 placeholder="{{locale['BuildingAndApartment']}}" required #bldApp="ngModel">
          <span *ngIf="!bldApp.valid && bldApp.touched"
                class="f-color-validation-error"><span loc="Пожалуйста, введите здание и квартиру" name="EnterBuildingAndApartment">{{locale['EnterBuildingAndApartment']}}</span></span>
          <br>

          <input [(ngModel)]="shippingAddress.city" name="city"  (keyup)="cityInputStream$.next($event.target.value)"
                 placeholder="{{locale['City']}}" required #city="ngModel">
          <span *ngIf="!city.valid && city.touched" class="f-color-validation-error"><span loc="Пожалуйста, введите город" name="EnterCity">{{locale['EnterCity']}}</span></span>
          <div *ngIf="showCityPopup && cities && cities.length>0">
            <dropdown-list id="btnCity"
                           [param]="shippingAddress.idCity"
                           [ref]="{bindRef:shippingAddress,bindName:'idCity'}"
                           [placeholder]="'Please select city'"
                           [store]="cities"
                           [options]="{popupClass: 'f-large-dictionary', popupHeader: 'SelectCity'}"
                           [map]="{valueName:'id', displayName:'cityWithRegion'}"
                           [afterUpdate]="cityUpdate">
            </dropdown-list>
          </div>
          <br>
          <input [(ngModel)]="shippingAddress.zip" name="zip"
                 placeholder="{{locale['Zip']}}" #zip="ngModel">
          <span *ngIf="!zip.valid && zip.touched" class="f-color-validation-error"><span loc="Пожалуйста, введите индекс" name="EnterZip">{{locale['EnterZip']}}</span></span>
          <br>
          <input [(ngModel)]="shippingAddress.phone" [mask]="'380999999999'" id="phone" name="phone"
                 placeholder="{{locale['Phone']}}"
                 pattern="[0-9]{12}"
                 minlength="12"
                 maxlength="12"
                 required #phone="ngModel">
          <div *ngIf="!phone.valid && phone.touched">
            <span *ngIf="phone.hasError('required')"  class="f-color-validation-error"><span loc="Пожалуйста, введите номер телефона" name="EnterPhone">{{locale['EnterPhone']}}</span></span>
            <span *ngIf="phone.hasError('pattern')"  class="f-color-validation-error"><span loc="№ телефона должен содержать 12 цифр в формате 38XXXXXXXXXX" name="PhoneFormat">{{locale['PhoneFormat']}}</span></span>
          </div>
          <br>

          <dropdown-list id="btnCountry" *ngIf="countries" [param]="shippingAddress.idCountry"
                         [ref]="{bindRef:shippingAddress,bindName:'idCountry'}"
                         [placeholder]="locale['PleaseSelectCountry']"
                         [store]="countries"
                         [options]="{popupClass: 'f-large-dictionary', popupHeader: locale['SelectCountry']}"
                         [map]="{valueName:'id', displayName:'name'}">
          </dropdown-list>


        </ion-col>
      </ion-row>
      <div *ngIf="delivery === 0">
        <ion-row>
          <ion-col>
            <button class="f-btn-action" ion-button block
                    [attr.disabled]="!validatePage()?'':null"
                    (click)="saveThisAddress()">
              <span loc="Сохранить этот адрес" name="SaveThisAddress">{{locale['SaveThisAddress']}}</span>
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="delivery === 1">
        <ion-row>
          <ion-col>
            <button class="f-btn-action" ion-button block
                    [attr.disabled]="!validatePage()?'':null"
                    (click)="deliverToThisAddress()">
              <span loc="Доставить по этому адресу" name="DeliverToThisAddress">{{locale['DeliverToThisAddress']}}</span>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>
