custom-popup {
  .toolbar-background {
    background-color: #DEDEDF !important;
  }

  .toolbar-title, .bar-button {
    color: black;
    font-size: 18px !important;
  }
}


ion-modal.custom-popup ion-backdrop {
  visibility: visible !important;
  z-index:0;
}
ion-modal.custom-popup .modal-wrapper{
  width: 90%;
  height: 60%;
  top: 20%;
  left: 5%;
  width: 90%;
  position:absolute;
}
