page-orders {
  .f-img-item {
    width: 100px; height: 100px;  padding: 6px 4px 2px;
  }

  .f-item-nopadding-tb {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .f-color-secondary {
    color: dimgrey;
  }

  .f-size-large {
    font-size: 18px;
  }

  .f-size-larger {
    font-size: 16px;
  }

  ul {
    padding: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;

    &.rating li {
      padding: 0px 0px !important;
      background: none;
      color: color($colors, foxrating);

      ion-icon {
        font-size: 12px;
      }
    }
  }

}
