<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid class="f-item-nopadding-tb f-color-secondary">
    <ion-row>
      <ion-col>
        <b><span class="f-size-large">Your orders</span></b>
      </ion-col>
    </ion-row>
    <span *ngIf="loaded === true">
      <ion-row *ngFor="let product of productArr; let i = index">
        <ion-card padding>
          <b><span>Order #{{i+1}}</span></b>
          <div *ngFor="let p of product?.products">
            <!--<item [product]="p"></item><br>-->
            <ion-grid class="f-color-secondary f-item-nopadding-tb">
                <ion-row>
                  <ion-col col-auto>
                    <img class="f-img-item" width="60" height="60" [src]="p?.imageUrl">
                  </ion-col>
                  <ion-col>
                    <ion-grid class="f-item-nopadding-tb">
                      <ion-row>
                        <ion-col no-padding class="f-item-padding-bottom">
                          <span class="f-size-medium"><b>{{p?.name}}</b></span>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col no-padding class="f-item-padding-bottom">
                          <span class="f-size-medium">
                            <rating readOnly style="display: inline-block;" [ngModel]="p?.rating"></rating>
                          </span>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col no-padding class="f-item-padding-bottom">
                          <span
                            class="f-size-medium f-color-red">{{p?.price | localeCurrency:userService.currency}}</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
                <hr>
            </ion-grid>
          </div>
          <br>
          <b><span>Date: {{product?.order?.orderDate}}</span></b><br>
          <b><span>Total: {{product?.order?.total | localeCurrency:userService.currency}}</span></b>
        </ion-card>
      </ion-row>
    </span>
    <span *ngIf="loaded === false">
      <ion-row>
        <span class="f-size-larger">You have no orders yet</span>
      </ion-row>
    </span>

  </ion-grid>
</ion-content>
