<b class="f-size-larger"><span loc="Особенности и Детали" name="FeaturesDetails">{{locale['FeaturesDetails']}}</span></b>
<p></p>
<ion-grid no-padding>
  <ion-row  *ngFor="let p of propsArr; let i = index">
    <ion-col class="f-border-ligthgray" style="padding: 5px; background-color: #EFEFF0" col-4 *ngIf="(i<displayPropCount) || (displayPropCount ==-1)">
      {{p.prop.name}}<span *ngIf="p.vals[0] && p.vals[0].measureunit">, {{p.vals[0]?.measureunit?.name}}</span>
    </ion-col>
    <ion-col class="f-border-ligthgray" style="padding: 5px;" col-8 *ngIf="(i<displayPropCount) || (displayPropCount ==-1) ">
      {{p.propStr}}
    </ion-col>
  </ion-row>
</ion-grid>
<span *ngIf="showPeriod == true">...</span>
