page-account {
  /*
  img {
    max-width: 140px;
    border-radius: 50%;
  }
  */

  .alertDanger{
    color: #a94442;
  }

  .alertCustomCss {
    text-align:center;
    .alert-head {
      background: #ffbc2e;
      color: black;
      margin-bottom: 10px;
    }
  }
}

.f-top20 {
  margin-top: 20px;
}

.f-label-drop-field {
  font-size: 1.2em;
  margin-left: 8px;
  color: grey;
  opacity: 0.8;
}
