<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

  <ion-content padding class="outer-content">
    <ion-list class="list-form" *ngIf="onLoad">
      <form [formGroup]='editForm'>
        <ion-item *ngIf='!!(userService.errorMessages[edit])' class='alertDanger'>
          <span>{{userService.errorMessages[edit]}}</span>
        </ion-item>

        <ion-item>
          <ion-label floating>изменить email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item class='alertDanger' *ngIf="formErrors.email">
          <span>{{formErrors.email}}</span>
        </ion-item>


        <ion-item>
          <ion-label floating>изменить пароль</ion-label>
          <ion-input type="password"  formControlName="password"></ion-input>
        </ion-item>
        <ion-item class='alertDanger' *ngIf="formErrors.password">
          <span>{{formErrors.password}}</span>
        </ion-item>

        <ion-item>
          <ion-label floating>изменить имя</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item class='alertDanger' *ngIf="formErrors.name">
          <span>{{formErrors.name}}</span>
        </ion-item>

        <ion-item>
          <ion-label floating>ключ приложения</ion-label>
          <ion-input type="text" formControlName="appKey"></ion-input>
        </ion-item>
        <ion-item class='alertDanger' *ngIf="formErrors.appKey">
          <span>{{formErrors.appKey}}</span>
        </ion-item>

       <!-- <ion-item>
          <ion-label>изменить валюту</ion-label>-->
        <ion-grid class="f-top20">
          <ion-row>
           <ion-col col-9>
             <ion-label class="f-label-drop-field">изменить валюту</ion-label>
           </ion-col>
            <ion-col col-2>
              <dropdown-list [param]="{value:currentCurrency.id,reference:currentCurrency}"
                             [store]="currencies"
                             [map]="{valueName:'id',displayName:'shortName'}"
                             [afterUpdate]="currencyUpdate">
              </dropdown-list>
            </ion-col>
          </ion-row>
        </ion-grid>
          <!--<ion-select formControlName="currency" multiple="false" cancelText="Отмена" okText="Выбрать">
            <ion-option *ngFor="let currency of currencies;"
                        value="{{currency.id}}">{{currency.shortName}}</ion-option>
          </ion-select>-->
      <!--  </ion-item>-->

        <!--<ion-item style="margin-top: 15px">
          <ion-label>изменить локализацию</ion-label>
          <ion-select formControlName="lang" multiple="false" cancelText="Отмена" okText="Выбрать">
            <ion-option  value="1">Рус</ion-option>
            <ion-option  value="2">Укр</ion-option>
            <ion-option  value="3">Анг</ion-option>
          </ion-select>
        </ion-item>-->
        <ion-grid class="f-top20">
          <ion-row>
            <ion-col col-9>
              <ion-label class="f-label-drop-field">изменить локализацию</ion-label>
            </ion-col>
            <ion-col col-2>
              <dropdown-list [param]="{value:currentLang.id,reference:currentLang}"
                             [store]="langs"
                             [map]="{valueName:'id',displayName:'name'}"
                             [afterUpdate]="langUpdate">
              </dropdown-list>
            </ion-col>
          </ion-row>
        </ion-grid>

        <button style="background: #ffbc2e" ion-button block color="fox" (click)="edit()">Изменить</button>
      </form>

    </ion-list>

    <div *ngIf="onLoad" class="align-bottom" padding text-center>
      <span class="bold" (click)="logout()">Выйти</span>
    </div>
  </ion-content>
