page-credit-calc {

  .f-padding-15 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }

  .row {
    align-items: center;
  }

  .f-row-odd {
    background-color: #eceff3;
  }

  .f-row-even {
    background-color: white;
  }

}
