<ion-header>
  <main-toolbar [showCartIcon] = "false" [showCloseIcon] = "true"></main-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="f-color-secondary">
    <ion-row>
      <ion-col style="padding-left: 15px; padding-right: 15px; padding-top: 15px;">
        <b><span class="f-size-large f-color-secondary">Get it for a loan</span></b>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="quotProduct">
      <ion-col style="padding-left: 15px; padding-right: 15px; padding-top: 15px;">
        <b><span class="f-size-larger f-color-secondary">{{quotProduct?.product?.name}}</span></b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-left: 15px; padding-right: 15px;">
        <span *ngIf="!quotProduct" class="f-size-larger"><b>Cart total: </b></span>
        <b><span class="f-size-larger f-color-red">{{loanAmount | localeCurrency:userService.currency}}</span>
        </b>
      </ion-col>
    </ion-row>


    <div *ngIf="cart.credits">
      <ion-row style="padding-left: 5px; padding-right: 5px;">

        <ion-grid class="f-border-ligthgray">
          <ion-row class="f-row-odd f-fond-bold f-size-small">
            <ion-col col-4 text-center>Название кредита</ion-col>
            <ion-col col-3 text-center>Льготный период, мес</ion-col>
            <ion-col col-2 text-center>Срок кредита, мес</ion-col>
            <ion-col col-3 text-center>Ежемесячный платёж **</ion-col>
          </ion-row>

          <ion-row padding-top padding-bottom
                   *ngFor="let cProd of cart.credits odd as isOdd; even as isEven"
                   [class.f-row-odd]="isOdd"
                   [class.f-row-even]="isEven" (click)="onSelectItem(cProd)">
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-1 text-center>
                  <input type="radio" id="radioButton" [checked]="cProd.isChecked">
                </ion-col>
                <ion-col col-3>
                  <span>{{cProd.creditProduct.sName}}</span>
                </ion-col>
                <ion-col col-3 text-center>
                  <span>{{cProd.creditProduct.sGracePeriod}}</span>
                </ion-col>
                <ion-col col-2 text-center>
                  <span>{{cProd.creditProduct.maxTerm}}</span>
                </ion-col>
                <!--
                            <ion-col col-1>
                              <span>{{cProd.firstPay}}</span>
                            </ion-col>
                            <ion-col col-2>
                              <span>до {{maxAmt | localeCurrency:userService.currency}}</span>
                            </ion-col>
                            <ion-col col-1>
                              <span>{{cProd.monthCommissionPct}} от суммы кредита</span>
                            </ion-col>
                            <ion-col col-1>
                              <span>{{cProd.yearPct}}%</span>
                            </ion-col>
                -->
                <ion-col col-3 text-center>
              <span *ngIf="cProd.creditProduct.maxTerm && !(cProd.creditProduct.maxTerm === 0)">
                {{loanAmount/cProd.creditProduct.maxTerm | localeCurrency:userService.currency}}
              </span>
                </ion-col>
              </ion-row>
              <ion-row class="f-size-small" *ngIf="cProd.isChecked">
                <ion-col>
                  <hr>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <span>Первый взнос, % от </span>
                        <span *ngIf="cProd.creditProduct.firstPay; else elseBlock1"><b>{{cProd.creditProduct.firstPay}}%</b></span>
                            <ng-template #elseBlock1>
                              <b>0%</b>
                            </ng-template>
                      </ion-col>
                      <ion-col><span>Макс. сумма кредита, до: <b>{{maxAmt | localeCurrency:userService.currency}}</b></span></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col><span>Ежемесячная комиссия после льготного периода: <b>{{cProd.creditProduct.monthCommissionPct}} % от суммы кредита</b></span></ion-col>
                      <ion-col><span>Годовая процентная ставка: <b>{{cProd.creditProduct.yearPct}}%</b></span></ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>


            </ion-grid>

          </ion-row>
        </ion-grid>
      </ion-row>
    </div>

  </ion-grid>

  <ion-grid class="f-color-secondary">
    <ion-row>
      <ion-col style="padding-left: 5px; padding-right: 5px;">
        <button class="f-btn-add-cart" ion-button block

                [attr.disabled]="!validatePage()?'':null"

                (click)="onContinueClick()">Select loan</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
