<ion-header>
  <main-toolbar [showCartIcon] = "false" [showCloseIcon] = "true"></main-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="f-color-secondary">
    <ion-row>
      <ion-col style="padding-left: 15px; padding-right: 15px; padding-top: 15px;">
        <b><span class="f-size-large f-color-secondary">Get it for a loan</span></b>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="quotProduct">
      <ion-col  style="padding-left: 15px; padding-right: 15px; padding-top: 15px;">
        <b><span class="f-size-larger f-color-secondary">{{quotProduct?.product?.name}}</span></b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-left: 15px; padding-right: 15px;">
        <span *ngIf="!quotProduct" class="f-size-larger"><b>Cart total: </b></span>
        <b><span class="f-size-larger f-color-red">{{loanAmount | localeCurrency:userService.currency}}</span>
        </b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
<!--
General Credits
-->
    <div *ngIf="credits">
      <ion-row style="padding-left: 5px; padding-right: 5px;">

        <ion-grid class="f-border-ligthgray">
          <ion-row class="f-row-odd f-fond-bold f-size-small">
            <ion-col col-5 text-center>Название кредита</ion-col>
            <ion-col col-2 text-center>Льготный период, мес</ion-col>
            <ion-col col-2 text-center>Срок кредита, мес</ion-col>
            <ion-col col-3 text-center>Ежемесячный платёж **</ion-col>
          </ion-row>

          <ion-row padding-top padding-bottom
                   *ngFor="let cProd of credits odd as isOdd; even as isEven"
                   [class.f-row-odd]="isOdd"
                   [class.f-row-even]="isEven" (click)="onSelectItem(cProd)">
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-1 text-center>
                  <input type="radio" id="radioButton" [checked]="cProd.isChecked">
                </ion-col>
                <ion-col col-4>
                  <span class="f-size-small">{{cProd.creditProduct.sName}}</span>
                </ion-col>
                <ion-col col-2 text-center>
                  <span class="f-size-small">{{cProd.creditProduct.sGracePeriod}}</span>
                </ion-col>
                <ion-col col-2 text-center>
                  <span class="f-size-small">{{cProd.creditProduct.minTerm}}</span>
                </ion-col>
                <ion-col col-3 text-end>
              <span class="f-size-small" *ngIf="cProd.creditProduct.minTerm && !(cProd.creditProduct.minTerm === 0)">
                {{ cart.calculateLoan(loanAmount, cProd.creditProduct.minTerm,
                  cProd.creditProduct.monthCommissionPct, cProd.creditProduct.sGracePeriod)
                  | localeCurrency:userService.currency}}
              </span>
                </ion-col>
              </ion-row>
              <ion-row class="f-size-small" *ngIf="cProd.isChecked">
                <credit
                  [cProduct]="cProd"
                  [loanAmount]="loanAmount"
                ></credit>
              </ion-row>
            </ion-grid>

          </ion-row>
        </ion-grid>
      </ion-row>
    </div>

  </ion-grid>

  <ion-grid class="f-color-secondary">
    <ion-row>
      <ion-col style="padding-left: 5px; padding-right: 5px;">
        <button class="f-btn-add-cart" ion-button block

                [attr.disabled]="!validatePage()?'':null"

                (click)="onContinueClick()">Select loan</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
