complect {
  .f-price-complect {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .math-sign {
    position: absolute;
    top: 30px;
    left: -10%;
    padding: 0px;
    vertical-align: middle;
  }

  .f-btn-bottom.activated, .f-btn-bottom {
    position: absolute;
    height: 30px;
    font-size: 12px;
  }


}
