<ion-slides #slides class="slides-size" [attr.pager]="complectAgg.length>1?'':null">
  <ion-slide *ngFor="let item of complectAgg">
    <div [ngStyle]="{'height.px': complectAgg.length>1? 185 : 150}">
      <ion-grid no-padding>
        <ion-row>
          <ion-col no-padding text-left>
            <span style="line-height: normal; display: block;" class="f-size-default">{{item.variants[item.selIndex].title}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 no-padding>
            <ion-row>
              <ion-col col-10 no-padding>
                <ion-grid no-padding class="f-size-small">
                  <ion-row *ngIf="item.variants.length>1">
                    <ion-col>
                      &nbsp;
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <img class="f-img-item" style="height: 60px;" [src]="mainProdImgUrl"
                           onError="this.src='assets/imgs/nophoto.png';">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <span style="line-height: normal; display: block;" class="f-size-small">{{mainProdName | truncate : 25}}</span>
                    </ion-col>
                  </ion-row>

                </ion-grid>
              </ion-col>
              <ion-col col-2 class="f-size-20" no-padding>
                <span class="math-sign">+</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col col-4 no-padding>

            <ion-grid no-padding class="f-size-small">
              <ion-row *ngIf="item.variants.length>1">
                <ion-col (click)="onScrollOptions(item, 1)">
                  <ion-icon name="ios-arrow-up"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-grid no-padding>
                    <ion-row>
                      <ion-col (click)="onOpenItemDetail(item)">
                        <img class="f-img-item" style="height: 60px;" [src]="item.variants[item.selIndex].secondProductImgUrl"
                             onError="this.src='assets/imgs/nophoto.png';">
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <span style="line-height: normal; display: block;" class="f-size-small">{{item.variants[item.selIndex].secondProductName | truncate : 25}}</span>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </ion-col>
              </ion-row>

              <ion-row *ngIf="item.variants.length>1">
                <ion-col class="f-size-smaller">
                  {{item.selIndex+1}} of {{item.variants.length}}
                </ion-col>
              </ion-row>
              <ion-row *ngIf="item.variants.length>1">
                <ion-col (click)="onScrollOptions(item, -1)">
                  <ion-icon name="ios-arrow-down"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-col>

          <ion-col col-4 no-padding>
            <ion-row>
              <ion-col class="f-size-20" col-2 no-padding>
                <span class="math-sign">=</span>
              </ion-col>

              <ion-col col-10 no-padding style="padding-right: 3px;">
                <ion-row>
                  <ion-grid no-padding>
                    <ion-row>
                      <ion-col style="padding-top: 10px;">
                      <span class="f-old-price f-size-small">
                        {{getRegularPrice(item) | localeCurrency:userService.currency}}
                      </span>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>
                      <span class="f-price-complect">
                        {{getActionPrice(item) | localeCurrency:userService.currency}}
                      </span>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col class="f-size-smaller">{{locale['Yousave']}}
                      <span class="f-color-red">
                         {{getUSaveAmt(item) | localeCurrency:userService.currency}}
                      </span>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col style="padding-top: 5px;">
                        <button class="f-btn-action f-btn-bottom" ion-button block
                                [attr.disabled]="(disableAddToCartButton)?'':null"
                                (click)="onAddToCart(item)"><span>{{locale['AddToCart']}}</span>
                        </button>
                      </ion-col>
                    </ion-row>

                  </ion-grid>
                </ion-row>
              </ion-col>
            </ion-row>

          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>
</ion-slides>
