#search-button-div {
  border-width: medium;
  border-color: color($colors, foxprimary);
  border-style: solid;
}

search-btn {

  .toolbar-background, .input {
    background-color: color($colors, foxclear);
  }

  .text-input:disabled::-webkit-input-placeholder {
    color: black;
  }


  .icon {
    color: color($colors, foxprimary);
  }
}

