search-btn {

  #search-button-div {
    border-width: 0px;
    border-color: color($colors, clear);
    border-style: solid;
  }

  #search-button-inner{
    //margin-left: 2px; margin-right: 2px;
    border-width: 0px;
    border-color: #cbcbcb;
    border-style: solid;
    //border-radius: 3px;
  }

  #input {
    background-color: transparent;
    border: 0px solid;
    height: 30px;
  }

  .toolbar-background, .input {
    background-color: color($colors, clear);
  }

  .text-input:disabled::-webkit-input-placeholder {
    color: black;
  }

  .icon {
    color: #999;
  }

  #srch-toolbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

