<div id="search-button-div">
  <div id ="search-button-inner">
  <ion-toolbar id="srch-toolbar" no-border>
    <ion-buttons left>
      <button ion-button>
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons>
    <input type="text" placeholder="{{locale['What']?locale['What']:'Что Вы ищете'}}?" #input id="input" [(ngModel)]="searchValue"
           (keyup.enter)="searchByText(input.value)" (keyup)="onKeyUp($event)">
    <ion-buttons right>
      <button ion-button icon-only (click)="searchByBarcode()" *ngIf="!inputMode">
        <ion-icon name="barcode1"></ion-icon> <!-- noun_816149 -->
      </button>
      <button ion-button icon-only (click)="clearInput($event)" *ngIf="inputMode">
        <ion-icon name="md-close-circle"></ion-icon> <!-- noun_816149 -->
      </button>

    </ion-buttons>
  </ion-toolbar>
  </div>
</div>
<hr class="f-hr-divider">
