<div id="search-button-div">
  <ion-toolbar no-border>
    <ion-buttons left>
      <button ion-button (click)="searchByText()">
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-input #input placeholder="What are you looking for?" [attr.disabled]="disabled?'':null"
               [(ngModel)]="searchValue"
               (keyup.enter)="searchByText(input.value)" (keyup)="incSearch()"></ion-input>
    <ion-buttons right>
      <button ion-button icon-only (click)="searchByBarcode()" *ngIf="disabled">
        <ion-icon name="barcode1"></ion-icon> <!-- noun_816149 -->
      </button>
      <button ion-button icon-only (click)="clearInput()" *ngIf="!disabled">
        <ion-icon name="md-close-circle"></ion-icon> <!-- noun_816149 -->
      </button>

    </ion-buttons>
  </ion-toolbar>
</div>
