<ion-header>
  <main-toolbar [showCartIcon] = "false"></main-toolbar>
</ion-header>
<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col class="f-page-header">View order details
      </ion-col>
    </ion-row>

    <ion-row class="f-padding-lr-5">
      <ion-grid class="f-border-ligthgray f-size-larger" *ngIf="dataLoaded">

        <ion-row>
          <ion-col col-4>
            Order date
          </ion-col>
          <ion-col>
            {{order.orderDate | date: 'mediumDate'}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Order #
          </ion-col>
          <ion-col>
            {{order.id}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            Order total
          </ion-col>
          <ion-col>
            {{order.total | localeCurrency:userService.currency}}  ({{order.orderProducts.length}} items)
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>


    <ion-row>
      <ion-col class="f-section-header"><b>Shipment details</b>
      </ion-col>
    </ion-row>


    <div class="f-size-larger" *ngFor="let spec of order.orderProducts; let i = index">
      <ion-row>
        <ion-col class="f-section-subheader">
          Shipment {{i+1}} of {{order.orderProducts.length}}
        </ion-col>
      </ion-row>

      <ion-row class="f-padding-lr-5">
        <ion-grid class="f-border-ligthgray" *ngIf="dataLoaded">
          <ion-row>
            <ion-col>{{spec?.loentity?.name}}
              <hr>
            </ion-col>
          </ion-row>


          <ion-row *ngIf="spec.loDeliveryCompletedDate">
            <ion-col>
              <b>Shipped</b>
              <br>
              <span class="f-color-green">{{spec.loDeliveryCompletedDate | date: 'mediumDate'}}</span>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="!spec.loDeliveryCompletedDate && spec.loEstimatedDeliveryDate">
            <ion-col>
              <span>Est. delivery date</span>
              <br>
              <span class="f-color-green">{{spec.loEstimatedDeliveryDate | date: 'mediumDate'}}</span>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-auto>
              <div>
                <img class="f-img-item-80" [src]="spec?.quotationproduct?.product?.imageUrl">
              </div>
            </ion-col>
            <ion-col no-padding>
              <ion-grid class="f-item-nopadding-tb">
                <ion-row>
                  <ion-col class="f-item-padding-bottom f-product f-size-default">
                    <b>{{spec?.quotationproduct?.product?.name}}</b>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="f-item-padding-bottom f-product f-size-default">
                    Qty: {{spec?.qty}}
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="f-size-13">
                    Sold by: {{spec?.quotationproduct?.quotation?.supplier?.name}}
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="f-item-padding-bottom f-product">
                    {{spec?.price | localeCurrency:userService.currency}}
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="spec?.earnedBonusCnt">
                  <ion-col class="f-item-padding-bottom">
                    <bonus [bonusCnt]="spec?.earnedBonusCnt"></bonus>
                  </ion-col>
                </ion-row>


              </ion-grid>


            </ion-col>

          </ion-row>


        </ion-grid>
      </ion-row>
    </div>
<!--
PAYMENT INFO
-->

    <ion-row>
      <ion-col class="f-section-header"><b>Payment information</b>
      </ion-col>
    </ion-row>

    <ion-row class="f-padding-lr-5 f-size-larger">
      <ion-grid class="f-border-ligthgray" *ngIf="dataLoaded">
        <ion-row>
          <ion-col>
            <b>Payment method</b>
            <br>
            {{order?.enumpaymentmethod?.name}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

<!--
SHIPPING ADDRESS INFO
-->

    <ion-row>
      <ion-col class="f-section-header"><b>Shipping address</b>
      </ion-col>
    </ion-row>

    <ion-row class="f-padding-lr-5">
      <ion-grid class="f-border-ligthgray f-size-larger" *ngIf="dataLoaded">
        <ion-row>
          <ion-col>
            <b>{{order?.clientaddress?.recName}}</b>
            <br>
            {{order?.clientaddress?.addressString}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>


<!--
ORDER SUMMARY AREA
-->

    <ion-row>
      <ion-col class="f-section-header"><b>Order summary</b>
      </ion-col>
    </ion-row>

    <ion-row class="f-padding-lr-5">
      <ion-grid class="f-border-ligthgray f-size-larger" *ngIf="dataLoaded">

        <ion-row>
          <ion-col>
            Items:
          </ion-col>
          <ion-col text-right col-auto>
            {{order.itemsTotal | localeCurrency:userService.currency}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Shipping:
          </ion-col>
          <ion-col text-right col-auto>
            {{order.shippingTotal | localeCurrency:userService.currency}}
          </ion-col>
        </ion-row>


        <ion-row *ngIf="!(order.bonusTotal === 0)">
          <ion-col>
            Bonuses paid:
          </ion-col>
          <ion-col text-right col-auto>
            - {{order.bonusTotal | localeCurrency:userService.currency}}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!(order.promoBonusTotal === 0)">
          <ion-col>
            Promobonuses paid:
          </ion-col>
          <ion-col text-right col-auto>
            - {{order.promoBonusTotal | localeCurrency:userService.currency}}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="(!(order.promoCodeDiscTotal === 0))">
          <ion-col>
            Promocode discount:
          </ion-col>
          <ion-col text-right col-auto>
            - {{order.promoCodeDiscTotal | localeCurrency:userService.currency}}
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <b>Order Total:</b>
          </ion-col>
          <ion-col text-right col-auto>
            <span class="f-color-red"><b>{{order.total | localeCurrency:userService.currency}}</b></span>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!(order.bonusEarned === 0)">
          <ion-col>
            Bonuses earned:
          </ion-col>
          <ion-col text-right col-auto>
            <bonus [bonusCnt]="order.bonusEarned"></bonus>
          </ion-col>
        </ion-row>


      </ion-grid>
    </ion-row>

  </ion-grid>

</ion-content>
