<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>


<ion-content padding>
  <div *ngIf="dataLoaded && stores">

    <!--<ion-grid>
      <div *ngFor="let store of stores">
        <ion-row>
          {{store?.address}}
        </ion-row>
      </div>
    </ion-grid>-->

    <ion-grid class="f-item-nopadding-tb f-color-secondary">
      <ion-row>
        <ion-col>
          <b><span class="f-size-large">Select a favorite store</span></b>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let store of stores">

        <ion-grid style="border: 1px solid #EBEBEC;" >

          <ion-row (click)="onIsPrimaryClick(store)">
            <ion-col col-2 text-center>
              <input type="radio" id="radioButton" [checked]="store.isPrimary" >
            </ion-col>
            <ion-col style="padding-bottom: 10px;" class="f-size-larger">
              <span *ngIf="store?.address">
                  {{store?.address}}
              </span>
            </ion-col>
          </ion-row>
          <div *ngIf="store.isPrimary">
            <ion-row>
              <ion-col col-6 style="padding-right: 10px; padding-bottom: 15px; padding-left: 10px;">
                <button class="f-btn-secondary"  ion-button block (click)="deleteStore(store)">Delete</button>
              </ion-col>
            </ion-row>
          </div>

        </ion-grid>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
