<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="f-item-nopadding-tb">
    <ion-row padding>
      <ion-col>
        <b><span class="f-size-large"><span loc="Выберите избранный магазин" name="SelectFavStore">{{locale['SelectFavStore']}}</span></span></b>
      </ion-col>
    </ion-row>
    <div *ngIf="stores && (stores.length > 0)">
      <ion-row *ngFor="let store of stores">

        <ion-grid class="f-border-ligthgray">
          <ion-row (click)="onIsPrimaryClick(store.store)">
            <ion-col style="padding: 10px 5px;" class="f-size-larger">
                <span *ngIf="store?.store.address">
                  {{store?.store.address}}
                </span><br/>
              <span *ngIf="store?.city.name">
                  {{store?.city.name}}
                </span>
            </ion-col>
            <div *ngIf="store.store.isPrimary">
              <ion-col col-10 style="padding: 10px 10px">
                <button class="f-fav-stores-btn-delete" ion-button clear (click)="deleteStore(store)">
                  <ion-icon name="ios-trash-outline"></ion-icon>
                </button>
              </ion-col>
            </div>
          </ion-row>
          <div *ngIf="store.store.isPrimary">
            <ion-row>
              <ion-col>
                <button class="f-btn-action" ion-button block (click)="navToMap(store.store, store.city)"><span loc="Показать на карте" name="ShowOnMap">{{locale['ShowOnMap']}}</span></button>
              </ion-col>
              <ion-col *ngIf="store.hasReviews === true">
                <button class="f-btn-action" ion-button block (click)="onShowReviewsClick(store.store)"><span loc="Отзывы" name="Reviews">{{locale['Reviews']}}</span></button>
              </ion-col>
              <ion-col *ngIf="store.hasReviews === false && !cantShow">
                <button class="f-btn-action" ion-button block (click)="onWriteReviewClick(store.store)"><span loc="Написать отзыв" name="WriteReview">{{locale['WriteReview']}}</span></button>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-row>
    </div>
    <div *ngIf="!stores || (stores.length === 0)">
      <ion-row padding>
        <ion-col>
          <span class="f-size-large"><span loc="Вы пока не имеете избранных магазинов" name="NoFavStoresYet">{{locale['NoFavStoresYet']}}</span><br/><span loc="Или они ещё загружаются" name="OrLoading">{{locale['OrLoading']}}</span></span>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
