<ion-header>
  <main-toolbar></main-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col class="f-item-section-header"><span loc="Отзывы покупателей" name="CustomerReviews">{{locale['CustomerReviews']}}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="f-item-nopadding-tb">
        <rating class="rating-large" [ngModel]="item?.rating"
                readOnly="true">
        </rating>
        &nbsp;<b class="f-size-larger">{{reviews?.length}}</b>
        <br>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="f-item-nopadding-tb">
        <span class="f-color-info" *ngIf="item?.rating">{{item?.rating}} <span loc="из 5 звёзд" name="Of5Stars">{{locale['Of5Stars']}}</span></span>
      </ion-col>
      <ion-col text-end class="f-item-nopadding-tb">
        <span class="f-color-info" (click)="onWriteReviewClick()"><span loc="Оставить отзыв" name="WriteReview">{{locale['WriteReview']}}</span></span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p></p>
      </ion-col>

    </ion-row>
    <ion-row *ngFor="let rev of reviews" class="f-border-ligthgray">
      <ion-col>
        <item-review [review]=rev [displayTextLength]="250" [collapsibleMode]="true"></item-review>
        <button ion-button (click)="onShowReviewClick(rev)" class="f-btn-secondary"
                *ngIf="rev.reviewAnswers.length > 0">
          <span loc="Показать ответы" name="ShowAnswers">{{locale['ShowAnswers']}}</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
